{% extends "layout/base.html" %}


{% block content %}
	

	 <!-- START BANNER --> 
	<div class='banner_members'>
		<div class='content_banner_members'>
	        <div class="search_members">
	        	 <div class="glass"><img src="../../static/images/pictos/grey_glass.png" /></div>
	        	 <div class="separator"></div>
	        	 <div class="text">

	        	 	<script type="text/javascript">
	        	 	$(document).ready(function() {
	        	 		/*$('form.search-members input[name=q]').keypress(function(e) { 
						      if(e.keyCode == 13) {
						      	$('div.good_results').empty();
						      		var url='../search/?q=' + $('form.search-members input[name=q]').val();
						      		$('div.result_members').hide();
						   			$('div.result_members').load(url, function() {
						   				$('div.good_results').html($('div.membersFound'));
						   			});
						   		
						            return false;
						       }
						});*/

	        	 		$('form.search-members').submit(function() {
	        	 			var str = $(this).serialize();
	        	 			var select='../search/?q=' + $('form.search-members input[name=q]').val();
					        $.ajax({
					            url: select,
					            data: str,     
					            async: true,
					            type: 'GET',
					            global: false,
					            cache: false,
					            success: function(html){
					                $("div.result_members").empty();
					                $("div.good_results").empty();
					                $("div.result_members").hide();
					                $("div.result_members").append(html);
					                $('div.good_results').html($('div.membersFound'));
					            }
					        });

					        return false;
	        	 		})
	        	 	});
	        	 	</script>

	        	 	<form method="get" action="../search" class="search-members">
						{% if query %}
						<input type="text" name="q" value="{{ query }}" />
						{% else %}
						<input type="text" name="q" />
						{% endif %}
					</form>
	        	 </div>
	        </div>

	        <div class="good_results">
	        </div>

	        <div class="result_members">
	        </div>
	        <div class="tri">
	        	<div class="tri_choice" id="selected" style="margin-right:11px; background-color:#9C9C9C;">Plus actifs</div>
	        	<div class="tri_choice" style="margin-right:11px;">Plus populaires</div>
	        	<div class="tri_choice" style="margin-right:11px;">Plus vus</div>
	        	<div class="tri_choice">Mieux notés</div>
	        </div>
		</div>
	</div>
	<div class='grey_line'></div>
	 <!-- END BANNER -->
<div class="content_members">	
		<div class='row-fluid' >
			{% for member in members %}
				<div class='cat4'>
					<div class="one_member">
						<div class="infos">
							<div class="picture">
								<img src="{{MEDIA_URL}}{{member.avatar}}" title="{{member.user.username}}" alt="{{member.user.username}}" />
							</div>
							<div class="socials_infos">
								<div class="likes">{{ member.nb_likes }}</div>
								<div class="responses">{{ member.nb_questions }}</div>
								<div class="views">{{ member.views }}</div>
							</div>
						</div>
						<div class="perso_infos">
							<div class="left_infos">
								<div class="name">
									<a href='{{member.user.username}}'>{{member.user.username}}</a>
								</div>
								<div class="city">
									{% if member.city and member.state %} 
										{{member.city}}, {{member.state}} 
									{% else %} 
										{% if member.city %} 
											{{member.city}}
										{% endif %}
										{% if member.state %} 
											{{member.state}}
										{% endif %}
									{% endif %}
								</div>
								<div class="date"></div>
							</div>
							<div class="right_infos">
								<div class="job">
									{% if member.job %} {{member.job}} {% else %} {% endif %}
								</div>
								<div class="city_job">
									{% if member.employer %} {{member.employer}} {% else %} {% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>	 
</div>
<form id='filtermembersform' action="" method="POST">
				{% csrf_token %}
		        <ul>
		        {{ filterform.as_ul}}	        
		        </ul>
		        <input name="submit" type="hidden" value="filterMembersSubmit" />
	        </form>
{% endblock content %}

