{% extends 'layout/base.html' %}


{% block content %}


	<div id='profile' >
		<form action='' method='post' enctype='multipart/form-data'>
			{% csrf_token %}
			
			<div class="banner_profile" style="height:400px;">
				<div class="content_banner_members">
					<div class='span12' >
						<div class='btn_modify' >
							<a href='{{user.username}}'>Voir mon profil public</a>
						</div>
					</div>
					
					<div class='infos_persos_modify'>
						<div class="left">
							<div class="img">
						       {% if request.session.profile_user.avatar.url != "" %}
						            <div class="mainPicture">
									<div class="fileinputs">
										<div style="">{{ profileform.avatar }}</div>
										<div class="fakefile">
											<input type="text" name="filename" class="filevisible" placeholder="Changer l'image">
											<div class="file_img">
												<img src="/static/images/pictos/upload.png" onclick="$('#id_avatar').click();">
											</div>
										</div>
									</div>
									</div>
						          
						       {% else %}
						           <img src='{{MEDIA_URL}}members/avatar.jpg' />
						           <div class="mainPicture">
									<div class="fileinputs">
										<div style="">{{ profileform.avatar }}</div>
										<div class="fakefile" style="top:-160px;">
											<input type="text" name="filename" class="filevisible" placeholder="Ajouter une image">
											<div class="file_img">
												<img src="/static/images/pictos/upload.png" onclick="$('#id_avatar').click();">
											</div>
										</div>
									</div>
									</div>

						       {% endif %}
							</div>
							
							
						</div>
					
						<div class="right">
							<div class="name">
								<p>{{user.username}}</p>
							</div>
							<div class="job">Métier {{ profileform.job }}</div>
							<div class="employer"><p>Entreprise {{ profileform.employer }}</p></div>
							<div class="city">
								<p>Ville {{profileform.city}}</p>
							</div>
							<div class="state">
								<p>Pays {{profileform.state}}</p> 
							</div>
							<!--<div class="inscription_date"><p>Inscrit le {{ user.date_joined }}</p></div>-->
							<div class="website">
									<p>Portfolio : http:// {{ profileform.urlPortfolio }}</p>
							</div>
						</div>
					</div>
					<div class='skills_modify'>
						<div class="title"><p>Compétences</p></div>
						<div class="subtitle"><p>Techniques</p></div>
						<div class="text"><p>Composition,Tracking </p></div>
						<div class="subtitle"><p>Logiciels</p></div>
						<div class="text"><p>Composition,Tracking</p></div>
					</div>
					<div class='social_modify'>
						<div class="text_social_modify">
							<div class="viadeo"><p>http://viadeo.com/ {{ profileform.urlViadeo }}</p></div>
							<div class="linkedin"><p>http://linkedin.com/ {{ profileform.urlLinkedin }}</p></div>
							<div class="twitter"><p>http://twitter.com/ {{ profileform.urlTwitter }}</p></div>
							<div class="facebook"><p>http://facebook.com/ {{ profileform.urlFacebook }}</p></div>
						</div>
							
						</div>
						
					</div>
				
				</div>
				
			</div>
			
			</div>
			
		<div>
		
<div class="content">
	<div class="span12">
		<button class='btn_send_profile' name='submit' type="submit" value="profileSubmit" >Enregistrer</button>
		</form>
	</div>
	<div class="content_profile">
		
		<div class="title"><p>Activité</p></div>
		<div class="activity">
			<div class="tri_activity">
	        	<a href="#profil_questions"><div class="tri_choice" id="selected" style="margin-right:10px; background-color:#9C9C9C;">Questions ({{questions.count}})</div></a>
	        	<a href="#profil_reponses"><div class="tri_choice" style="margin-right:10px;">Réponses ({{answers.count}})</div></a>
	        	<a href="#profil_commentaires"><div class="tri_choice" style="margin-right:10px;">Commentaires ({{comments.count}})</div></a>
	        	<a href="#profil_tutos"><div class="tri_choice">Tutoriels ({{tutorials.count}})</div></a>
			</div>
			<div class='grey_line'></div>

			<div class="current_activity" id="profil_questions">
				{% for question in questions %}
				<div class="one_actu">
					<div class="img"></div>
					<div class="text"><a href="../questions/{{question.slug}}">{{question.title}}</a></div>
				</div>
				{% endfor %}
			</div>

			<div class="current_activity" id="profil_reponses" style="display:none;">
				{% for answer in answers %}
					<div class="text">{{answer.answer}}</div>
				{% endfor %}
			</div>

			<div class="current_activity" id="profil_commentaires" style="display:none;">
				{% for comment in comments %}
					<div class="text">{{comment.comment}}</div>
				{% endfor %}
			</div>

			<div class="current_activity" id="profil_tutos" style="display:none;">
				{% for tutorial in tutorials %}
				<div class="one_actu">
					<div class="img"></div>
					<div class="text"><a href="../tutoriels/{{tutorial.slug}}">{{tutorial.title}}</a></div>
				</div>
				{% endfor %}
			</div>

			<div class="line_end"></div>
			

		</div>
		<div class="follow">
			<div class="title_follow"><p>Questions suivies</p></div>
			
			{% for question in followedquestions %}	
					{% if question.validate %}	
					{% else %}	
						<div class="follow_question">
							<div class="img"><img src='{{question.picture.url}}'/></div>
							<div class="question">
								<a href='/questions/{{question.slug}}'>{{question.title}}</a>
							</div>
						</div>	
					{% endif %}					
			{% endfor %}
				<div class="clear"></div>
			<div class="follow_tag">
				<div class="title_follow"><p>Tags suivis</p></div>
				{% for tag in followedtags %}	
					<div class="tags"><p>{{tag.name}}</p></div>	
			{% endfor %}

			</div>
			
			
		</div>
	</div>
	
</div>	
		

</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('form div.theAnswer').css('background-color','white');
		$('div.theAnswer').children().empty();
		
		var modify_viadeo = 'Username';
		var modify_linkedin = 'Username';
		var modify_facebook = 'Username';
		var modify_twitter = 'Username';
		
		$('input[name=urlViadeo]').attr({placeholder : modify_viadeo});
		$('input[name=urlLinkedin]').attr({placeholder : modify_linkedin});
		$('input[name=urlTwitter]').attr({placeholder : modify_facebook});
		$('input[name=urlFacebook]').attr({placeholder : modify_twitter});
		
	});
</script>

<script type="text/javascript">  
			$(document).ready( function(){ 	
				$(".mainPicture input").change( function(){ 
					$(".mainPicture .filevisible").attr("value",$(".mainPicture input").attr("value")); 
				});

				$(".upload-img1 .file").change( function(){ 
					$(".upload-img1 .filevisible").attr("value",$(".upload-img1 .file").attr("value")); 
				});	

				$(".upload-img2 .file").change( function(){ 
					$(".upload-img2 .filevisible").attr("value",$(".upload-img2 .file").attr("value")); 
				});	

				$(".upload-img3 .file").change( function(){ 
					$(".upload-img3 .filevisible").attr("value",$(".upload-img3 .file").attr("value")); 
				});	
			}); 
		</script> 
			
			
		</form>
	
		<script type="text/javascript">  
			$(document).ready( function(){ 	$("#id_picture").change( function(){ $(".filevisible").attr("value", document.getElementById("id_picture").files[0].name ); }); }); 
		</script> 
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('.tri_activity a').click(function() {
				    $('div.tri_choice').css('background-color','#C9C9C9');
				    $(this).children('div.tri_choice').css('background-color', '#9C9C9C');
				    var url = $(this).attr('href');
				    $('div.current_activity').hide();
				    $(url).show();
				    return false;
				});
			
			});
		</script>


{% endblock content %}



