{% extends 'layout/base.html' %}


{% block content %}


	<div id='profile' >
		<form action='' method='post' enctype='multipart/form-data'>
			{% csrf_token %}
			
			<div class="banner_profile">
				<div class="content_banner_members">
					<div class='span12' >
						<div class='btn_modify' >
							<a href='{{user.username}}'>Voir mon profil public</a>
						</div>
					</div>
					
					<div class='infos_persos_modify'>
						<div class="left">
							<div class="img">
						       {% if request.session.profile_user.avatar.url != "" %}
						            <div class="mainPicture">
									<div class="fileinputs">
										<div style="">{{ profileform.avatar }}</div>
										<div class="fakefile">
											<input type="text" name="filename" class="filevisible" placeholder="Changer l'image">
											<div class="file_img">
												<img src="/static/images/pictos/upload.png" onclick="$('#id_avatar').click();">
											</div>
										</div>
									</div>
									</div>
						          
						       {% else %}
						           <img src='{{MEDIA_URL}}members/avatar.jpg' />
						           <div class="mainPicture">
									<div class="fileinputs">
										<div style="">{{ profileform.avatar }}</div>
										<div class="fakefile">
											<input type="text" name="filename" class="filevisible" placeholder="Selectionner une image">
											<div class="file_img">
												<img src="/static/images/pictos/upload.png" onclick="$('#id_avatar').click();">
											</div>
										</div>
									</div>
									</div>

						       {% endif %}
							</div>
							
							
						</div>
					
						<div class="right">
							<div class="name">
								<p>{{user.username}}</p>
							</div>
							<div class="job">Métier {{ profileform.job }}</div>
							<div class="employer"><p>Entreprise {{ profileform.employer }}</p></div>
							<div class="city">
								<p>Ville {{profileform.city}}</p>
							</div>
							<div class="state">
								<p>Pays {{profileform.state}}</p> 
							</div>
							<!--<div class="inscription_date"><p>Inscrit le {{ user.date_joined }}</p></div>-->
							<div class="website">
								<a href='{{ member.urlPortfolio }}'>
									<p>Portfolio : http:// {{ profileform.urlPortfolio }}</p>
								</a>
							</div>
						</div>
					</div>
					<div class='skills_modify'>
						<div class="title"><p>Compétences</p></div>
						<div class="subtitle"><p>Techniques</p></div>
						<div class="text"><p>Composition,Tracking </p></div>
						<div class="subtitle"><p>Logiciels</p></div>
						<div class="text"><p>Composition,Tracking</p></div>
					</div>
					<div class='social_modify'>
						<div class="text_social_modify">
							<div class="viadeo"><p>http://viadeo.com/ {{ profileform.urlViadeo }}</p></div>
							<div class="linkedin"><p>http://linkedin.com/ {{ profileform.urlLinkedin }}</p></div>
							<div class="twitter"><p>http://twitter.com/ {{ profileform.urlTwitter }}</p></div>
							<div class="facebook"><p>http://facebook.com/ {{ profileform.urlFacebook }}</p></div>
						</div>
							
						</div>
						
					</div>
				</div>
			</div>
			


			</div>
			
			<button class='btn btn-primary' name='submit' type="submit" value="profileSubmit" >Enregistrer</button>
		</form>
		<div>
		<div class="content">
			<p>Questions suivies</p><br />
			<ul>
			{% for question in followedquestions %}				
				<li><a href='/questions/{{question.slug}}'>{{question.title}}</a></li>
				{{ member.nb_likes }}
				{{ member.nb_questions }}
				{{ member.views }}
			{% endfor %}
			</ul>	

			
		</div>	
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('form div.theAnswer').css('background-color','white');
		$('div.theAnswer').children().empty();
		
		var modify_viadeo = 'Username';
		var modify_linkedin = 'Username';
		var modify_facebook = 'Username';
		var modify_twitter = 'Username';
		
		$('input[name=urlViadeo]').attr({placeholder : modify_viadeo});
		$('input[name=urlLinkedin]').attr({placeholder : modify_linkedin});
		$('input[name=urlTwitter]').attr({placeholder : modify_facebook});
		$('input[name=urlFacebook]').attr({placeholder : modify_twitter});
		
	});
</script>

<script type="text/javascript">  
			$(document).ready( function(){ 	
				$(".mainPicture input").change( function(){ 
					$(".mainPicture .filevisible").attr("value",$(".mainPicture input").attr("value")); 
				});

				$(".upload-img1 .file").change( function(){ 
					$(".upload-img1 .filevisible").attr("value",$(".upload-img1 .file").attr("value")); 
				});	

				$(".upload-img2 .file").change( function(){ 
					$(".upload-img2 .filevisible").attr("value",$(".upload-img2 .file").attr("value")); 
				});	

				$(".upload-img3 .file").change( function(){ 
					$(".upload-img3 .filevisible").attr("value",$(".upload-img3 .file").attr("value")); 
				});	
			}); 
		</script> 
			
			
		</form>
	
		<script type="text/javascript">  
			$(document).ready( function(){ 	$("#id_picture").change( function(){ $(".filevisible").attr("value", document.getElementById("id_picture").files[0].name ); }); }); 
		</script> 


{% endblock content %}



