/* ------------------
QUESTIONS STYLESHEET 
------------------ */

/* ------------------RUBRIQUE MEMBRES------------------ */

.content_members{width:960px; margin:0 auto; margin-top:30px;}

.banner_members{width:100%; height:200px; background-image:url(../images/back_banner_members.png); background-repeat:x; position:relative; z-index:1;}
.content_banner_members{width:940px; margin:0 auto; padding-top:60px;}

.banner_members .search_members{width:300px; height:24px; background-color:#FFFFFF; border-radius:3px; padding:13px 10px 13px 10px; margin:0 auto;}
.search_members .glass{float:left; margin:0px 10px 0px 0px;}
.search_members .separator{float:left; width:3px; height:25px; margin:0px 15px 0px 0px; background-color:#9C9C9C;}
.search_members .text{float:left; color:#9C9C9C; font-size:18px; font-family:'bebas_neue';}

.banner_members .tri{width:940px; height:50px;}
.banner_members .tri .tri_choice{float:left; width:226px; height:50px; background-color:#c9c9c9; border-top-left-radius:3px; border-top-right-radius:3px; margin-top:22px; color:#FFFFFF; font-size:20px; font-family:'bebas_neue'; text-align:center; line-height:55px;}

.grey_line{width:100%; height:14px; position:relative; background-color:#9C9C9C; margin-top:2px;}


.cat4{width:320px; float:left;}
.cat4 .one_member {width:290px;height:130px; margin:0 auto; background-color:#FFFFFF; margin-bottom:15px; border-radius:3px; padding:5px;}

.one_member .infos .picture{width:80px; height:80px; float:left;}
.one_member .infos .picture img{width:80px; height:80px;}
.one_member .infos{height:80px;}
.one_member .infos .socials_infos{float:left; width:180px; height:40px; background-color:#01c6e8; text-align:center; padding: 20px 15px 20px 15px;}
.one_member .infos .socials_infos .likes{float:left; width:49px; height:42px; background-image:url("/static/images/pictos/like_wetut_member.png"); margin-right:15px; line-height:43px; font-size:16px; font-family:'bebas_neue'; color:#01c6e8;}
.one_member .infos .socials_infos .responses{float:left; width:49px; height:42px; background-image:url("/static/images/pictos/bulle_wetut_member.png"); margin-right:15px; line-height:45px; font-size:16px; font-family:'bebas_neue'; color:#01c6e8;}
.one_member .infos .socials_infos .views{float:left; width:49px; height:42px; background-image:url("/static/images/pictos/view_wetut_member.png"); line-height:45px; font-size:16px; font-family:'bebas_neue'; color:#01c6e8;}

.one_member .perso_infos{height:50px; padding:10px 0px 0px 0px;}
.one_member .perso_infos .left_infos{float:left; width:150px;}
.one_member .perso_infos .left_infos .name a{font-family:'bebas_neue'; font-size:18px; color:#46423f;}
.one_member .perso_infos .left_infos .city{font-size:12px; color:#9C9C9C;}

.one_member .perso_infos .right_infos{float:left; width:140px; font-size:13px; color:#9C9C9C;}

.search_members .text input{}

.search_members .text .search_bar_member input{border-color:transparent; color:#9c9c9c; font-size:18px; font-family:'bebas_neue'; margin-left:-10px; height:25px; margin-top:1px;}

/* ------------------PROFIL MEMBRES------------------ */


.banner_profile{width:100%; height:360px; background-image:url(../images/back_banner_profile.png); background-repeat:x; position:relative; z-index:1; box-shadow: 0px 2px 8px #DDDDDD;}

.banner_profile .content_banner_members .infos_persos{float:left; width:450px; height:205px; background-color:#FFFFFF; border-radius:3px; margin-right:10px; padding:10px; margin-top:30px;}
.banner_profile .content_banner_members .infos_persos .left{float:left; margin-right:10px;}
.banner_profile .content_banner_members .infos_persos .left .img{width:160px; height:160px; background-color:#9C9C9C;}
.banner_profile .content_banner_members .infos_persos .left .social_icone img{float:left; margin-right:5px; margin-top:10px;}
.banner_profile .content_banner_members .infos_persos .right .name p{color:#46423F; font-size:24px; font-family:'bebas_neue';}
.banner_profile .content_banner_members .infos_persos .right .name, .banner_profile .content_banner_members .infos_persos .right .job, .banner_profile .content_banner_members .infos_persos .right .employer, .banner_profile .content_banner_members .infos_persos .right .city, .banner_profile .content_banner_members .infos_persos .right .inscription_date{height:20px;}

.banner_profile .content_banner_members .infos_persos .right .job{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px; margin-top:15px;}
.banner_profile .content_banner_members .infos_persos .right .employer{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px;}
.banner_profile .content_banner_members .infos_persos .right .city{margin-top:10px;}
.banner_profile .content_banner_members .infos_persos .right .city p{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px; font-weight:bold;}
.banner_profile .content_banner_members .infos_persos .right .inscription_date{margin-top:10px;}
.banner_profile .content_banner_members .infos_persos .right .inscription_date p{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:12px;}
.banner_profile .content_banner_members .infos_persos .right .website{margin-top:43px; text-align:center;}

.banner_profile .content_banner_members .infos_persos .right .website p{font-family: 'Rambla', sans-serif; color:#46423F; font-size:16px; font-weight:bold;}


.banner_profile .content_banner_members .skills{float:left; margin-top:30px; width:330px; height:205px; background-color:#FFFFFF; border-radius:3px; margin-right:10px; padding:10px;}
.banner_profile .content_banner_members .skills .title p{color:#46423F; font-size:24px; font-family:'bebas_neue'; margin-bottom:20px;}
.banner_profile .content_banner_members .skills .subtitle p{color:#46423F; font-size:18px; font-family:'bebas_neue';}
.banner_profile .content_banner_members .skills .text p{width:330px;font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px;}

.banner_profile .content_banner_members .infos_socials .likes{width:49px; height:42px; background-image:url("/static/images/pictos/like_wetut_member.png"); line-height:43px; font-size:16px; font-family:'bebas_neue'; color:#01c6e8; margin-bottom:25px;}
.banner_profile .content_banner_members .infos_socials .responses{width:49px; height:42px; background-image:url("/static/images/pictos/bulle_wetut_member.png"); line-height:45px; font-size:16px; font-family:'bebas_neue'; color:#01c6e8; margin-bottom:25px;}
.banner_profile .content_banner_members .infos_socials .views{width:49px; height:42px; background-image:url("/static/images/pictos/view_wetut_member.png"); line-height:45px; font-size:16px; font-family:'bebas_neue'; color:#01c6e8;}


.banner_profile .content_banner_members .infos_socials{float:left; margin-top:30px; width:50px; height:175px; background-color:#01c6e8; border-radius:3px; padding:25px; text-align:center;}

.content .content_profile .activity{width:590px; float:left; margin-right:10px; }
.content .content_profile .activity .tri_activity .tri_choice{float:left; width:140px; height:40px; background-color:#c9c9c9; border-top-left-radius:3px; border-top-right-radius:3px; margin-top:22px; color:#FFFFFF; font-size:18px; font-family:'bebas_neue'; text-align:center; line-height:45px;}

.content .content_profile .activity .one_actu{ min-height:40px; background-color:#FFFFFF; width:570px; padding:10px;}
.content .content_profile .activity .one_actu .img{width:40px; height:40px; background-color:transparent; float:left; margin-right:10px;}

.content .content_profile .activity .one_actu .text{color:#9c9c9c; width:520px; margin-left:50px;}
.content .content_profile .activity .line_end{width:100%; height:2px; background-color:#DCDBDB;}



.content .content_profile .activity .tri_activity{width:590px; height:40px;}

.content .content_profile .activity .grey_line{margin-top:22px;}

.content .content_profile .follow{float:left; width:320px; min-height:320px; margin-top:22px; background-color:#FFFFFF; border-radius:3px; font-family: 'Rambla', sans-serif; font-size:12px; padding:10px;}
.content .content_profile .title{color:#46423F; font-size:28px; font-family:'bebas_neue'; margin-top:50px;}
.content .content_profile .follow .title_follow p{color:#46423F; font-size:24px; font-family:'bebas_neue';}
.content .content_profile .follow .follow_question{margin-top:15px; }
.content .content_profile .follow .img{width:78px; height:60px; margin-right:10px; background-color:#46423F; float:left;}
.content .content_profile .follow .question{width:222px; height:60px; min-height:60px; margin-left:98px; color:#9c9c9c; font-size:14px;}

.content .content_profile .follow .follow_tag{margin-top:30px;}

.content_banner_members .btn_modify{background-color:#9C9C9C; border-radius:3px; border:none; font-family:'bebas_neue'; width:170px; margin-left:750px; height:35px; line-height:38px; text-align:center;}
.content_banner_members .btn_modify a{font-size:18px; color:#FFFFFF;}
.banner_profile .content_banner_members .infos_persos .infos_persos_modify{width:350px;}

.banner_profile .content_banner_members .infos_persos_modify{float:left; width:400px; height:209px; background-color:#FFFFFF; border-radius:3px; margin-right:10px; padding:10px; margin-top:30px; }
.banner_profile .content_banner_members .infos_persos_modify .left{float:left; margin-right:10px;}
.banner_profile .content_banner_members .infos_persos_modify .left .img{width:160px; height:160px; background-color:#9C9C9C;}
.banner_profile .content_banner_members .infos_persos_modify .left .social_icone img{float:left; margin-right:5px; margin-top:10px;}
.banner_profile .content_banner_members .infos_persos_modify .right .name p{color:#46423F; font-size:24px; font-family:'bebas_neue';}
.banner_profile .content_banner_members .infos_persos_modify .right .name, .banner_profile .content_banner_members .infos_persos .right .job, .banner_profile .content_banner_members .infos_persos .right .employer, .banner_profile .content_banner_members .infos_persos .right .city, .banner_profile .content_banner_members .infos_persos_modify .right .inscription_date{height:20px;}

.banner_profile .content_banner_members .infos_persos_modify .right .job{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px; margin-top:12px;}
.banner_profile .content_banner_members .infos_persos_modify .right .employer{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px;}
.banner_profile .content_banner_members .infos_persos_modify .right .city{margin-top:10px;}
.banner_profile .content_banner_members .infos_persos_modify .right .city p{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px;}

.banner_profile .content_banner_members .infos_persos_modify .right .state{margin-top:-10px; float:right;}
.banner_profile .content_banner_members .infos_persos_modify .right .state p{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px; position:relative; z-index:99;}

.banner_profile .content_banner_members .infos_persos_modify .right .inscription_date{margin-top:10px;}
.banner_profile .content_banner_members .infos_persos_modify .right .inscription_date p{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:12px;}
.banner_profile .content_banner_members .infos_persos_modify .right .website{text-align:center; float:right; }

.banner_profile .content_banner_members .infos_persos_modify .right .website p{font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px;}

.banner_profile .content_banner_members .skills_modify{float:left; margin-top:30px; margin-right:10px; width:240px; height:209px; background-color:#FFFFFF; border-radius:3px; margin-right:10px; padding:10px;}
.banner_profile .content_banner_members .skills_modify .title p{color:#46423F; font-size:24px; font-family:'bebas_neue'; margin-bottom:20px;}
.banner_profile .content_banner_members .skills_modify .subtitle p{color:#46423F; font-size:18px; font-family:'bebas_neue';}
.banner_profile .content_banner_members .skills_modify .text p{width:330px;font-family: 'Rambla', sans-serif; color:#9C9C9C; font-size:14px;}

.banner_profile .content_banner_members .social_modify{width:220px; height:193px; padding:18px 10px 18px 10px; background-color:#FFFFFF; float:left; border-radius:3px; margin-top:30px;}

.social_modify input {margin-top:8px; border:1px solid #C2C2C2; border-radius:3px; color:#46423F;font-family: 'Rambla', sans-serif;font-size:14px;}
.text_social_modify {height:205px; float:left;}
.text_social_modify p{margin-top:10px; color:#9C9C9C;}
input#id_urlViadeo {width:108px;}
input#id_urlLinkedin {width:100px;}
input#id_urlTwitter {width:105px;}
input#id_urlFacebook {width:92px;}

.banner_profile .content_banner_members .infos_persos_modify input{border:1px solid #C2C2C2; border-radius:3px; color:#46423F;font-family: 'Rambla', sans-serif;font-size:14px; margin-top:3px;}
input#id_job{width:189px;}
input#id_employer{width:168px;}
input#id_city{width:200px;}
input#id_state{width:200px; }
input#id_urlPortfolio{width:130px; position:relative; z-index:89;}
input#id_avatar{border:1px solid transparent; color:#9c9c9c; opacity:0;}

.banner_profile .content_banner_members .infos_persos_modify .fakefile{margin-top:170px;}
.banner_profile .content_banner_members .infos_persos_modify .fakefile input{width:125px; height:36px; border-top-right-radius:0px; border-bottom-right-radius:0px;}
.banner_profile .content_banner_members .infos_persos_modify .fakefile .file_img{width:35px; heigth:35px; margin-top:3px;}
.file_img{cursor:pointer;}

button.btn_send_profile{width:170px; margin-left:750px; height:35px; background-color:#01c6e8; color:#FFFFFF; border-radius:3px; border:none; font-size:18px; font-family:'bebas_neue'; line-height:35px; margin-bottom:20px;}

.follow .follow_question .question a{color: #9c9c9c; font-size: 14px;} 

.followprofile, .deletetag{background-color:#f6f6f1; color:#9c9c9c; padding: 2px 10px 2px 10px; font-family: 'Rambla', sans-serif; font-size: 14px; }


.follow .follow_tag li{margin-bottom:10px; float:left; margin-right:10px;}









