<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>Videotheque</title>

	<!-- Foundation CSS stylesheets (responsive framework) -->
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/foundation.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/app.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/custom.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/foundation.top-bar.css">

	<!-- Foundation JS scripts -->
	<script src="{{ STATIC_URL }}javascripts/foundation/foundation.min.js"></script>
	<script src="{{ STATIC_URL }}javascripts/foundation/modernizr.foundation.js"></script>
	<script src="{{ STATIC_URL }}javascripts/foundation/jquery.foundation.forms.js"></script>
	<script src="{{ STATIC_URL }}javascripts/foundation/app.js"></script>
</head>