{% extends "layout/base.html" %}

{% block content %}


<div class="content_banner" style="width:940px; margin:0 auto;">
	<div id="enroll" style="width:940px; margin-bottom:100px;">
			<div class="text_enroll">
				<div class="title_registration">Vous êtes inscrits sur weTut</div>
				<p style="color:#9c9c9c; margin-top:25px;">Un code d'activation vous a été envoyé à votre adresse mail.</p>
				<p style="color:#9c9c9c; margin-top:25px;">A bientot sur weTut!</p>
			</div>
			<hr>
			
		</div>
	</div>

{% endblock content %}

