  {% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}
  
  <form method="post" action="/accounts/register/" class="wide" id="signupForm">
  {% csrf_token %}
  		<div class="input_inscription">
    		<div class="input_img"><img src="static/images/pictos/user_connexion.png"/></div>
    		{{ form.username }}
    	</div>
    	<div class="input_inscription">
    		<div class="input_img"><img src="static/images/pictos/user_connexion.png"/></div>
    		{{ form.email }}
    	</div>
    	<div class="input_inscription">
    		<div class="input_img"><img src="static/images/pictos/padlock_connexion.png"/></div>
    		{{ form.password1 }}
    	</div>
    	<div class="input_inscription">
    		<div class="input_img"><img src="static/images/pictos/padlock_connexion.png"/></div>
    		{{ form.password2 }}
    	</div>
    
    <p><input type="submit" class="submit_inscription" value=""></p>
  </form>
  
  <div class="clear"></div>
	<div class="line_end_connexion"></div>
	<div class="facebook_connexion"></div>

<script>
$(document).ready(function(){
  $("#id_email").addClass("email");
  $("#signupForm").validate({
    rules: {
      password1: "required",
      password2: {
        equalTo: "#id_password1"
      }
    }
  });
});
</script>

<script>
$(document).ready(function(){
  var pseudo = 'Pseudo*';
  var email = 'Email*';
  var password1 = 'Mot de passe*';
  var password2 = 'Confirmation du mot de passe*';
  
  $('input[name=username]').attr({placeholder : pseudo});
  $('input[name=email]').attr({placeholder : email});
  $('input[name=password1]').attr({placeholder : password1});
  $('input[name=password2]').attr({placeholder : password2});
  		 
 
});
</script>
