{% extends "layout/base.html" %}

{% block content %}
<div id="banner">
	<div id="content_banner">
		<div class="row-fluid marketing">
			<div class="span8">
				<div class="notifications">
					<h4>Vos notifications</h4>
					<div class="notif_box">
						<div class="notif_filters">
							<div id="questions_filter" class="active_filter"><p>Questions</p></div>
							<div id="tags_filter" class="inactive_filter"><p>Tags</p></div>
						</div>
						<div class="clear"></div>
						
						<div id="questions_notifs">
							{% if actualityQuestion %}
								{% for actuality in actualityQuestion %}
								<a href="/questions/{{actuality.question.slug}}">
								<div class="notifs">
									<div class="img_notif"><img src="{{actuality.question.picture}}"></div>
									<div class="member_notif">
										<div class="question_notif">{{actuality.question.title}}</div>
										<div class="name_notif">par {{actuality.question.user.username}}</div>
									</div>
									<div class="text_notif">{{actuality.answer.answer}}</div>
								</div>
								<div class="line_end_notif"></div>
								</a>
								{% endfor %}
							{% else %}
								<p>Vous n'avez pas de notifications concernant les questions que vous suivez</p>
							{% endif %}
						</div>

						<div id="tags_notifs" style="display:none;">
							{% if actualityTag %}
								{% for actuality in actualityTag %}
								<a href="/questions/{{actuality.question.slug}}">
								<div class="notifs">
									<div class="img_notif">{{actuality.tag.name}}"></div>
									<div class="text_notif">
										<div class="question_notif">{{actuality.question.title}}</div>
										<div class="name_notif">par {{actuality.question.user.username}}</div>
									</div>
								</div>
								<div class="line_end_notif"></div>
								</a>
								{% endfor %}
							{% else %}
								<p>Vous n'avez pas de notifications concernant les tags que vous suivez</p>
							{% endif %}
						</div>



					</div>
				</div>
			</div>
			<div class="span4">
				<div class="ask_question">
					<div class="ask_question_button">
						<a href="/questions/ask">Poser une question</a>
					</div>
					<div class="text_ask">Lance toi et pose ta question !</div>
					<p style="margin-bottom:20px; font-size:17px;">WETUT, VOTRE PLATEFORME <br />PARTICIPATIVE DE CONNAISSANCES</p>
					<p style="font-size:12px; font-family: 'Rambla', sans-serif; color:#a4a4a4;">Comment ça marche ?</p>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div id="consultation">
		<div class="row-fluid marketing">
			<div class="span6">
				<div class="back_box"><p>Consulter les tutos</p></div>
				<div class="tri">
					<div class="date_selection" style="background-color:#01c6e8;">
						<img src="../../static/images/pictos/plus_picto.png">
						<p>Derniers créés</p>
					</div>
					<div class="famous_selection">
						<img src="../../static/images/pictos/coeur_picto.png">
						<p>Plus populaires</p>
					</div>
				</div>
				<div class="line_tri"></div>
				{% for tutorial in tutorials %}
					<div class="white_box">
						<div class="question_body">
							<div class="illustration_tutos">
								<div class="img_question"><a href='tutoriels/{{tutorial.slug}}'><img src="../../static/images/image_tuts.png"></a></div>
								<div class="infos_members" style="background-color:#01c6e8;">
									<div class="img_members"><a href='tutoriels/{{tutorial.slug}}'><img src="../../static/images/membre.png" style="width:70px; height:75px;"></a></div>
									
									
									<div class="infos_questions">
									<a href='tutoriels/{{tutorial.slug}}'>
										
										<div class="img_wetut_accueil">
											<img src="../../static/images/pictos/like_wetut_accueil.png">
											<img src="../../static/images/pictos/bulle_wetut_accueil.png">
										</div>
										
										<div class="Text_wetut_accueil">
											<p>{{ tutorial.views }}</p>
											<p>{{ tutorial.answers }}</p>
										</div>
									</a>
									</div>
								</div>
							</div>
							<div class="description_tutos">
							<a href='tutoriels/{{tutorial.slug}}'>
								<div class="title"><h4>{{tutorial.title}}</h4></div>
								<div class="text"><p>{{ tutorial.message|truncatechars:80 }}</p></div>
							</a>
							</div>	
						</div>
						</div>
						<div class="line_end"></div>
					{% endfor %}
					
				</div>

			<div class="span6">
				<div class="box_tuts">
					<div class="back_box" id="pink_box"><p>Consulter les questions</p></div>
					<div class="tri">
						<div class="date_selection" style="background-color:#f53749;">
							<img src="../../static/images/pictos/plus_picto.png">
							<p>Derniers créés</p>
						</div>
						<div class="famous_selection">
							<img src="../../static/images/pictos/coeur_picto.png">
							<p>Plus populaires</p>
						</div>
					</div>
					<div class="line_tri" style="background-color:#f53749;"></div>
					{% for question in questions %}
					<div class="white_box">
						<div class="question_body">
							<div class="illustration_tutos">
								<div class="img_question"><a href="#"><img src="../../static/images/image_tuts.png"></a></div>
								<div class="infos_members" style="background-color:#f53749;">
									<div class="img_members"><img src="../../static/images/membre.png" style="width:70px; height:75px;"></div>
									<div class="infos_questions">
										<a href='questions/{{question.slug}}'>
										
										<div class="img_wetut_accueil">
											<img src="../../static/images/pictos/view_wetut_accueil.png" style="position:relative; top:3px; z-index:0;"/>
											<img src="../../static/images/pictos/bulle_wetut_accueil.png" />
										</div>
										
										<div class="Text_wetut_accueil">
											<p style="color:#f53749; position:relative; z-index:1">{{ question.views }}</p>
											<p style="color:#f53749;">{{ question.answers }}</p>
										</div>
									</a>
									</div>
								</div>
							</div>
							<div class="description_tutos">
								
								<div class="title"><a href='questions/{{question.slug}}'><h4>{{question.title}}</h4></a></div>
								<div class="text"><a href='questions/{{question.slug}}'><p>{{ question.message|truncatechars:80 }}</p></a></div>
								
							</div>	
						</div>
						</div>
						<div class="line_end"></div>
					{% endfor %}
					
				</div>
			</div>
		</div>
	</div>

	<div class="clear"></div>
	<div class="best_members">
		<div class="members"><p>Les membres</p></div>
		<div class="box_members">
			<div class="row-fluid marketing">
				<div class="span3">
					<div class="member">
						<div class="infos_members">
							<img src="../../static/images/pictos/like_wetut_accueil.png">
							<img src="../../static/images/pictos/bulle_wetut_accueil.png">
						</div>
						<div class="img_members"><img src="../../static/images/membre.png" style="width:70px; height:75px;"></div>
						<div class="description_members">
							<div class="name_member"><p>Lucette Lama</div>
							<div class="job_member"><p>Motion Designer</div>
						</div>
					</div>
					<div class="end_line_member"></div>
				</div>
				<div class="span3">
					<div class="infos_members">
						<img src="../../static/images/pictos/like_wetut_accueil.png">
						<img src="../../static/images/pictos/bulle_wetut_accueil.png">
					</div>
					<div class="img_members"><img src="../../static/images/membre.png" style="width:70px; height:75px;"></div>
					<div class="description_members">
						<div class="name_member"><p>Lucette Lama</div>
						<div class="job_member"><p>Motion Designer</div>
					</div>
				</div>
				<div class="span3" style="margin-left:20px;">
					<div class="infos_members">
						<img src="../../static/images/pictos/like_wetut_accueil.png">
						<img src="../../static/images/pictos/bulle_wetut_accueil.png">
					</div>
					<div class="img_members"><img src="../../static/images/membre.png" style="width:70px; height:75px;"></div>
					<div class="description_members">
						<div class="name_member"><p>Lucette Lama</div>
						<div class="job_member"><p>Motion Designer</div>
					</div>
				</div>
				<div class="span3">
					<div class="infos_members">
						<img src="../../static/images/pictos/like_wetut_accueil.png">
						<img src="../../static/images/pictos/bulle_wetut_accueil.png">
					</div>
					<div class="img_members"><img src="../../static/images/membre.png" style="width:70px; height:75px;"></div>
					<div class="description_members">
						<div class="name_member"><p>Lucette Lama</div>
						<div class="job_member"><p>Motion Designer</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
	$(document).ready( function(){
	 	$("#questions_filter").click( function(){
	 		$(this).attr("class", "active_filter");
	 		$("#tags_filter").attr("class", "inactive_filter");
	 		document.getElementById("questions_notifs").style.display = "block";
	 		document.getElementById("tags_notifs").style.display = "none";
	 	});

	 	$("#tags_filter").click( function(){
	 		$(this).attr("class", "active_filter");
	 		$("#questions_filter").attr("class", "inactive_filter");
	 		document.getElementById("tags_notifs").style.display = "block";
	 		document.getElementById("questions_notifs").style.display = "none";
	 	});
	});

</script>


{% endblock content %}