{% extends "layout/base.html" %}

{% block content %}

<div class="content">
	<br/><br/><br/>
	<h1>MENTIONS LÉGALES</h1>

Ce site a été crée par Jérémie BARDEAU, Adèle LENNON, Cyrill DURIGON, Julien HENNET et Charly KRAFT. Pour toutes questions, requêtes ou réclamations vous pouvez nous contacter via la rubrique "contact".

<h3>Hébergement</h3>

Ce site est hébergé sur un serveur de alwaysdata

<h3>Propriété intellectuelle</h3>
Sauf mention contraire, les textes, images, sons et vidéos publiés sur ce site sont la propriété de l’éditeur.
Des autorisations de reproduction à titre gracieux peuvent être accordées au cas par cas, sur demande motivée.

<h3>Cookies</h3>

Ce site peut être amené à laisser un cookie dans votre navigateur lorsque vous enregistrez un commentaire, afin d’y conserver vos informations d’identification (vos nom, adresse de courriel et URL de site).

<h3>Publication de commentaires</h3>

En publiant un commentaire sur ce site, vous reconnaissez autoriser l’éditeur :
- à reproduire, distribuer et communiquer votre commentaire au public, à titre gratuit, pour la durée légale de la protection du droit d’exploitation prévu par la loi, sans limitation de lieu, ni de support,
- à supprimer tout ou partie de votre commentaire, sans avoir de justification particulière à vous fournir,
- à stocker dans sa base de données et sans limites de temps vos informations de connexion.

Les commentaires publiés engagent la responsabilité de leurs auteurs respectifs.

<h3>Lecture et avis</h3>

La consultation de ce site est libre.
Si le lecteur n’est pas en accord avec ce qui y est dit, le lecteur est libre de quitter le site à tout moment, ou pourra laisser un commentaire ou contacter l’éditeur par courrier à l’adresse indiquée plus haut.

</div>

{% endblock content %}