{% extends "layout/base.html" %}

{% block content %}
<div id="banner">
	<div id="content_banner">
		<div id="enroll">
			<div id="text_enroll">
			<p>WETUT, VOTRE PLATEFORME <br />PARTICIPATIVE DE CONNAISSANCES</p>
			<h2>Comment ça marche ?</h2>
			<p>Motion design, VFX, WEB, webdesign</p>
			</div>
			<hr>
			<div class="enroll_button"><img src="../../static/images/button_enroll.png" alt="Inscription" /></div>
			<div class="facebook_button"><img src="../../static/images/button_facebook.png" alt="Inscription via facebook" /></div>
		</div>
		<div id="video_banner"><iframe src="http://player.vimeo.com/video/56008257" width="440" height="247" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><a href="http://vimeo.com/56008257"></a></div>
	</div>
</div>

<div class="content">
	<div id="consultation">
		<div id="tutos_consult">
			<div class="back_box"><p>Consulter les tutos</p></div>
			<div id="box_tutos">
				<!--<div class="tab">
					<div class=""><a href ="#"><img src=""></a><p>Derniers créés</p></div>
					<div class=""><a href ="#"><img src=""></a><p>Plus populaires</p></div>
				</div>
				<div class="line_tutos"></div>
				<div class="tuts">
					<div class="img_tuts"><a href ="#"><img src=""></a></div>
					<div class="famous_tuts">
						<div class="member_post_tut"><img src=""></div>
						<div class="like_tuts">
							<div class="pictos_like"><img src=""></div>
							<div class="pictos_bubble"><img src=""></div>
						</div>
					</div>
					<div class="infos_tuts">
						<a href='{{question.slug}}'><h5>{{ question.title }}</h5></a>
						<p>{{ question.message|truncatechars:80 }}</p>
					</div>
					<hr>
				<div>-->
			</div>
		</div>
		<div id="questions_consult">
			<div class="back_box" id="pink_box"><p>Consulter les questions</p></div>
			<div id="box_questions"></div>
		</div>
	</div>
	<div id="membres"><p>Les membres</p></div>
	<h1>STARTING WETUT !</h1>
	<p>Yay ! Pour le moment, j'ai mis les pages à faire (templates) dans templates/general</p>
	<ul>
		<li>Page <a href="home">[home]</a></li>
		<li>Page <a href="questions/ask">[poser une question]</a></li>
		<li>Page <a href="questions">[voir la liste des questions]</a></li>
		<li>Page <a href="questions/question">[consulter une question]</a></li>
	</ul>

<i>Aussi, la barre de navigation à retapper se trouve dans layout/top-bar.</i>
</div>

{% endblock content %}