{% extends 'layout/base.html' %}

{% block content %}
<div class='banner_members' style="box-shadow: 0px 2px 8px #DDDDDD;">
	<div class='content_banner_members'>
		<div class="search_title"><p>Résultat de votre recherche</p></div>
		<div class="search_content"><p><span style="color:#01c6e8; font-size:20px; margin-right:5px;">2 tutoriels</span> et <span style="color:#f53749; font-size:20px;margin-left:5px; margin-right:5px;">5 questions</span> correspondent à : <span style="color:#01c6e8; font-size:20px; margin-left:5px;">{{ query }}</span></p></div>
	</div>
</div>
<div class="content" style="margin-top:30px;">

        {% if query %}

            {% for result in page.object_list %}

                {% ifequal result.model_name 'question' %}

                    {% if result.object.validate %}
                    
                    <div class="one_question">
						<div class="img">
							<a href='../tutoriels/{{ result.object.slug }}'>
								<img src="{{ result.object.picture.thumbnail.url }}" alt="{{ result.object.title }}" />
							</a>
							
						</div>
						<div class="member">
							<div class="img_member">
								
									 <img src="{{MEDIA_URL}}{{ result.object.user.profile.avatar }}" alt="{{ result.object.user.username }}" />

							</div>
							<div class="infos_member" id="search_blue">
								<div class="view">
									<img src="{{STATIC_URL}}images/pictos/view_questions_wetut.png">
									<p id="search_blue_text">{{ result.object.views }} </p>
								</div>
								<div class="responses">
									<img src="{{STATIC_URL}}images/pictos/bulle_questions_wetut.png">
									<p id="search_blue_text">{{ result.object.answers }} </p>
								</div>
							</div>
						</div>
						<div class="infos_questions">
							<div class="title"><a href="../tutoriels/{{ result.object.slug }}">{{ result.object.title }}</a></div>
							<div class="date"><p>Par {{ result.object.user.username }}</p> <p style="font-style:italic; font-size:10px; margin-top:1px;">le {{ result.object.date }}</p></div>
							<div class="tags"></div>
							<div class="text"><p>{{ result.object.message|truncatechars:80 }}</p></div>
						</div>
						<div class="action_member">
								{% if user.is_authenticated %}
									<form  class="likeTuto" action="" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<input class="tutoId" type="hidden" name="tutoId" value="{{tutorial.id}}"></input>
									<div class='like'>
										<input name="hidden" type="hidden" value="{% if tutorial.currentUserLikes %}dislike{% else %}like{% endif %}" />
										<button id="search_blue_button" class='btn-{% if tutorial.currentUserLikes %}ok{% else %}nok{% endif %}' name='likeTutoSubmit' type="submit" value="likeTutoSubmit">
										<img src="{{STATIC_URL}}/images/pictos/like_wetut_member.png"/>
										<p style="margin-top:10px;">{% if tutorial.currentUserLikes %}Je n'aime plus{% else %}J'aime{% endif %}</p></button>
									</div>
									</form>
								{% endif %}

						
						</div>
					</div>

                    {% else %}
                    
                                        
                    <div id="question{{question.id}}" class="one_question">
						<div class="img">
							<a href='{{question.slug}}'>
								<img src="{{ result.object.picture.thumbnail.url }}" alt="{{ result.object.title }}" />
							</a>
							
						</div>
						<div class="member">
							<div class="img_member">
								
									 <img src="{{MEDIA_URL}}{{ result.object.user.profile.avatar }}" alt="{{ result.object.user.username }}" />

							</div>
							<div class="infos_member">
								<div class="view">
									<img src="{{STATIC_URL}}images/pictos/view_questions_wetut.png">
									<p>{{ result.object.views }} </p>
								</div>
								<div class="responses">
									<img src="{{STATIC_URL}}images/pictos/bulle_questions_wetut.png">
									<p>{{ result.object.answers }} </p>
								</div>
							</div>
						</div>
						<div class="infos_questions">
							<div class="title"><a href="../questions/{{ result.object.slug }}">{{ result.object.title }}</a></div>
							<div class="date"><p>Par {{ result.object.user.username }}</p> <p style="font-style:italic; font-size:10px; margin-top:1px;">le {{ result.object.date }}</p></div>
							<div class="tags"></div>
							<div class="text"><p>{{ result.object.message|truncatechars:80 }}</p></div>
						</div>
						<div class="action_member">
							<a href="/questions/{{question.slug}}">
							<div class="answer">
								<img src="{{STATIC_URL}}images/pictos/answer_picto.png"><p>Je sais !</p>
							</div>
							</a>
							<div class="question_follow" style="margin-top:5px;">
							{% if user.is_authenticated %}
								<form  class="followForm" action="" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input class="questionId" type="hidden" name="questionId" value="{{question.id}}"></input>
								<div class='follow'>
									<input name="hidden" type="hidden" value="{% if question.currentUserFollows %}unfollow{% else %}follow{% endif %}" />
									<button class='btn-{% if question.currentUserFollows %}ok{% else %}nok{% endif %}' name='submit' type="submit" value="followSubmit">{% if question.currentUserFollows %}Ne plus suivre{% else %}Suivre{% endif %}</button>
								</div>
								</form>
							{% endif %}	
							</div>	
					</div>
					</div>
                    
    
                    {% endif %}
    

                {% else %}
                    <div class="membersFound" style="display:none;">

                        <div class='cat4'>
                            <div class="one_member">
                                <div class="infos">
                                    <div class="picture">
                                        <img src="{{MEDIA_URL}}{{result.object.profile.avatar}}" title="{{ result.object.username }}" alt="{{ result.object.username}}" />
                                    </div>
                                    <div class="socials_infos">
                                        <div class="likes">{{ result.object.profile.nb_likes }}</div>
                                        <div class="responses">{{ result.object.profile.nb_questions }}</div>
                                        <div class="views">{{ result.object.profile.views }}</div>
                                    </div>
                                </div>
                                <div class="perso_infos">
                                    <div class="left_infos">
                                        <div class="name">
                                            <a href='{{result.object.username}}'>{{result.object.username}}</a>
                                        </div>
                                        <div class="city">
                                            {% if result.object.profile.city and result.object.profile.state %} 
                                                {{result.object.profile.city}}, {{result.object.profile.state}} 
                                            {% else %} 
                                                {% if result.object.profile.city %} 
                                                    {{result.object.profile.city}}
                                                {% endif %}
                                                {% if result.object.profile.state %} 
                                                    {{result.object.profile.state}}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="date"></div>
                                    </div>
                                    <div class="right_infos">
                                        <div class="job">
                                            {% if result.object.profile.job %} {{result.object.profile.job}} {% else %} {% endif %}
                                        </div>
                                        <div class="city_job">
                                            {% if result.object.profile.employer %} {{result.object.profile.employer}} {% else %} {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endifequal %}
            {% empty %}
                <p>Pas de résultat.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Précédent{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Suivant &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}


        {% else %}



            {# Show some example queries to run, maybe query syntax, something else? #}
             {% for result in page.object_list %}
                <p>
                    {{ result.object.user }}
                </p>

            {% endfor %}
        {% endif %}

{% endblock %}