{% extends "layout/base.html" %}

{% block content %}

{% if user.is_authenticated %}
		<div id="ask_banner">
			<div id="content_banner">
				<p>Pose ta question</p>
			</div>
		</div>

	<div class="content">

		<p style="font-style:italic; color:#9c9c9c; font-size:12px;">* Champs obligatoires</p>
	
		<form id="questionForm" action="" method="post" enctype="multipart/form-data">
			<div class="row-fluid marketing">
				<div class='span6'>
					<div style='display:none'>
						<input type='hidden' name='csrfmiddlewaretoken' value='2pCAgrdAiZ0kaCm6CXX5kNCPn2F3HfqK' />
					</div>
					<p><input type="text" name="title" placeholder="Title*"  id="id_title" class="" size="40" title="Title*" /></p>
					
					<div class="fileinputs">
						<input class="file" type="file">
						<div class="fakefile">
							<input type="text" class="filevisible" placeholder="Selectionner une image*">
							<div class="file_img">	
								<img src="../../static/images/pictos/upload.png">
							</div>
						</div>
					</div>
					
					<p style="font-style:italic; color:#9c9c9c; font-size:12px; position:relative; margin-top:8px;">(Format JPEG, PNG, GIF , minimum 240 x 120px)</p>
					
					
				</div>
				<div class='span6'>
					<p>
						<textarea type="text" name="message" placeholder="Message*"  id="id_message" class="" size="400" title="Message*"></textarea>
					</p>
				</div>
			</div>
			<div class="clear"></div>
			<p style="color:#9c9c9c; font-size:14px;">Ajouter des tags (1 minimum, 3 maximum)</p>
			<div class="row-fluid">
				<div id="tag1" class="ui-widget">
					<label>Tag 1 :</label>
					<select name="technical1" class="technical">
						<option value="0">TECHNIQUE</option>
						{% for technical in technicaltags %}
							<option value="{{technical.id}}">{{technical.name}}</option>
						{% endfor %}
					</select>
					<select name="software1" class="software">
						<option value="0">LOGICIEL</option>
						{% for software in softwaretags %}
							<option value="{{software.id}}">{{software.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div id="tag2" style="display:none;" class="ui-widget">
					<label>Tag 2 :</label>
					<select name="technical2" class="technical">
						<option value="0">TECHNIQUE</option>
						{% for technical in technicaltags %}
							<option value="{{technical.id}}">{{technical.name}}</option>
						{% endfor %}
					</select>
					<select name="software2" class="software">
						<option value="0">LOGICIEL</option>
						{% for software in softwaretags %}
							<option value="{{software.id}}">{{software.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div id="tag3" style="display:none;" class="ui-widget">
					<label>Tag 3:</label>
					<select name="technical3" class="technical">
						<option value="0">TECHNIQUE</option>
						{% for technical in technicaltags %}
							<option value="{{technical.id}}">{{technical.name}}</option>
						{% endfor %}
					</select>
					<select name="software3" class="software">
						<option value="0">LOGICIEL</option>
						{% for software in softwaretags %}
							<option value="{{software.id}}">{{software.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>


			
			<p style="color:#9c9c9c; font-size:14px;">Ajouter des medias</p>
			<p>illustrez votre question avec des médias supplémentaires</p>
			<div class="row-fluid marketing">
				<div class='span4'></div>
				<div class='span4'><input type="submit" class="ask_your_question_button" value="Pose ta question" /></div>
				<div class='span4'></div>
			</div>
			
			
		</form>
	
		<script type="text/javascript">  
			$(document).ready( function(){ $(".file").change( function(){ $(".filevisible").attr("value",$(".file").attr("value")); });	}); 
		</script> 
		
		<script>
		  
			 (function( $) {
			    $.widget( "ui.combobox", {
			      _create: function() {
			
			        var input,
			          self = this,
			          select = this.element.hide(),
			          selected = select.children( ":selected" ),
			          value = selected.val() ? selected.text() : "",
			          wrapper = this.wrapper = $( "<span>" )
			            .addClass( "ui-combobox" )
			            .insertAfter( select );
			                        
			                var placeholder = select.attr('id');                    
			        input = $( "<input class='placeholder' placeholder='" + placeholder + "'>" )
			          .appendTo( wrapper )
			          .addClass( "ui-state-default ui-combobox-input" )
			          .autocomplete({
			            delay: 0,
			            minLength: 0,
			            source: function( request, response ) {
			              var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
			              response( select.children( "option" ).map(function() {
			                var text = $( this ).text();
			                if ( this.value && ( !request.term || matcher.test(text) ) )
			                  return {
			                    label: text.replace(
			                      new RegExp(
			                        "(?![^&;]+;)(?!<[^<>]*)(" +
			                        $.ui.autocomplete.escapeRegex(request.term) +
			                        ")(?![^<>]*>)(?![^&;]+;)", "gi"
			                      ), "<strong>$1</strong>" ),
			                    value: text,
			                    option: this
			                  };
			              }) );
			            },
			            select: function( event, ui ) {
			              ui.item.option.selected = true;
			              self._trigger( "selected", event, {
			                item: ui.item.option
			              });
			            },
			            change: function( event, ui ) {
			              if ( !ui.item ) {
			                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" ),
			                  valid = false;
			                select.children( "option" ).each(function() {
			                  if ( $( this ).text().match( matcher ) ) {
			                    this.selected = valid = true;
			                    return false;
			                  }
			                });
			                if ( !valid ) {
			                  // remove invalid value, as it didn't match anything
			                  $( this ).val( "" );
			                  select.val( "" );
			                  input.data( "autocomplete" ).term = "";
			                  return false;
			                }
			              }
			            }
			          })
			          .addClass( "ui-widget ui-widget-content ui-corner-left" );
			                                        
			                                        // This line added to set default value of the combobox
			                                        if ($(select).hasClass('default-select')){
			                                            input.val($(select).find("option:selected").text());
			                                        }
			
			        input.data( "autocomplete" )._renderItem = function( ul, item ) {
			          return $( "<li></li>" )
			            .data( "item.autocomplete", item )
			            .append( "<a>" + item.label + "</a>" )
			            .appendTo( ul );
			        };
			
			        $( "<a>" )
			          .attr( "tabIndex", -1 )
			          .attr( "title", "Show All Items" )
			          .appendTo( wrapper )
			          .button({
			            icons: {
			              primary: "ui-icon-triangle-1-s"
			            },
			            text: false
			          })
			          .removeClass( "ui-corner-all" )
			          .addClass( "ui-corner-right ui-combobox-toggle" )
			          .click(function() {
			            // close if already visible
			            if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
			              input.autocomplete( "close" );
			              return;
			            }
			
			            // work around a bug (likely same cause as #5265)
			            $( this ).blur();
			
			            // pass empty string as value to search for, displaying all results
			            input.autocomplete( "search", "" );
			            input.focus();
			          });
			      },
			
			      destroy: function() {
			        this.wrapper.remove();
			        this.element.show();
			        $.Widget.prototype.destroy.call( this );
			      }
			    });
			  })( jQuery );
			
			  $(function() {
			    $( ".combobox" ).combobox();
			    $( "#toggle" ).click(function() {
			      $( ".combobox" ).toggle();
			    });
			  });
		  </script>
		</div>
  {% endif %}

{% endblock content %}