{% extends "layout/base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1>HAVE A QUESTION ?</h1>
<p>Here you can ask everything you want</p>

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<h2>Ajouter des tags (1 minimum, 3 maximum)</h2>
	<div class="row-fluid">
		<div class="span6">
			<form action="" method="post" enctype="multipart/form-data">
				<div class="ui-widget">
					<label>Logiciels</label>
					<select class="combobox">
						<option value="">Select one...</option>
						<option value="AfterEffect">After Effect</option>
						<option value="Cinema4D">Cinéma 4D</option>
						<option value="3DSMAX">3DSMAX</option>
						<option value="Maya">Maya</option>
					</select>
				</div>
				<button id="toggle">+</button>
			</form>

			<hr/>

			<p>
				<span class="label label-success">
					Logiciel1
					<a href="#" style="font-size:18px; color:#ffffff;">&times;</a>
				</span>
			</p>

		</div>
		
		<div class="span6">
			<form action="" method="post" enctype="multipart/form-data">
				<div class="ui-widget">
					<label>Catégorie</label>
					<select class="combobox">
						<option value="">Select one...</option>
						<option value="AfterEffect">After Effect</option>
						<option value="Cinema4D">Cinéma 4D</option>
						<option value="3DSMAX">3DSMAX</option>
						<option value="Maya">Maya</option>
					</select>
				</div>
				<button id="toggle">+</button>
			</form>
		</div>
	</div>
	
	<h2>Ajouter des medias ?</h2>
	<p>illustrez votre question avec des médias supplémentaires</p>
	<input type="submit" value="Submit" />
</form>

<script>
  
	 (function( $) {
	    $.widget( "ui.combobox", {
	      _create: function() {
	
	        var input,
	          self = this,
	          select = this.element.hide(),
	          selected = select.children( ":selected" ),
	          value = selected.val() ? selected.text() : "",
	          wrapper = this.wrapper = $( "<span>" )
	            .addClass( "ui-combobox" )
	            .insertAfter( select );
	                        
	                var placeholder = select.attr('id');                    
	        input = $( "<input class='placeholder' placeholder='" + placeholder + "'>" )
	          .appendTo( wrapper )
	          .addClass( "ui-state-default ui-combobox-input" )
	          .autocomplete({
	            delay: 0,
	            minLength: 0,
	            source: function( request, response ) {
	              var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
	              response( select.children( "option" ).map(function() {
	                var text = $( this ).text();
	                if ( this.value && ( !request.term || matcher.test(text) ) )
	                  return {
	                    label: text.replace(
	                      new RegExp(
	                        "(?![^&;]+;)(?!<[^<>]*)(" +
	                        $.ui.autocomplete.escapeRegex(request.term) +
	                        ")(?![^<>]*>)(?![^&;]+;)", "gi"
	                      ), "<strong>$1</strong>" ),
	                    value: text,
	                    option: this
	                  };
	              }) );
	            },
	            select: function( event, ui ) {
	              ui.item.option.selected = true;
	              self._trigger( "selected", event, {
	                item: ui.item.option
	              });
	            },
	            change: function( event, ui ) {
	              if ( !ui.item ) {
	                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" ),
	                  valid = false;
	                select.children( "option" ).each(function() {
	                  if ( $( this ).text().match( matcher ) ) {
	                    this.selected = valid = true;
	                    return false;
	                  }
	                });
	                if ( !valid ) {
	                  // remove invalid value, as it didn't match anything
	                  $( this ).val( "" );
	                  select.val( "" );
	                  input.data( "autocomplete" ).term = "";
	                  return false;
	                }
	              }
	            }
	          })
	          .addClass( "ui-widget ui-widget-content ui-corner-left" );
	                                        
	                                        // This line added to set default value of the combobox
	                                        if ($(select).hasClass('default-select')){
	                                            input.val($(select).find("option:selected").text());
	                                        }
	
	        input.data( "autocomplete" )._renderItem = function( ul, item ) {
	          return $( "<li></li>" )
	            .data( "item.autocomplete", item )
	            .append( "<a>" + item.label + "</a>" )
	            .appendTo( ul );
	        };
	
	        $( "<a>" )
	          .attr( "tabIndex", -1 )
	          .attr( "title", "Show All Items" )
	          .appendTo( wrapper )
	          .button({
	            icons: {
	              primary: "ui-icon-triangle-1-s"
	            },
	            text: false
	          })
	          .removeClass( "ui-corner-all" )
	          .addClass( "ui-corner-right ui-combobox-toggle" )
	          .click(function() {
	            // close if already visible
	            if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
	              input.autocomplete( "close" );
	              return;
	            }
	
	            // work around a bug (likely same cause as #5265)
	            $( this ).blur();
	
	            // pass empty string as value to search for, displaying all results
	            input.autocomplete( "search", "" );
	            input.focus();
	          });
	      },
	
	      destroy: function() {
	        this.wrapper.remove();
	        this.element.show();
	        $.Widget.prototype.destroy.call( this );
	      }
	    });
	  })( jQuery );
	
	  $(function() {
	    $( ".combobox" ).combobox();
	    $( "#toggle" ).click(function() {
	      $( ".combobox" ).toggle();
	    });
	  });
  </script>

  {% endif %}

{% endblock content %}