{% extends "layout/base.html" %}

{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- START BANNER -->
	<div class="question_banner">
		<div class="content_banner">
			
			<div id="question">



				<div class="body_question">
					<div class="left_question_body">
						<div class="member">
							<div class="image"><img src="../../static/images/membre_de_luxe.png" /></div>
							<div class="infos">
								<div class="name"><p>Posté par <a href="/members/{{question.user}}">{{question.user}}</a></p></div>
								<div class="date"><p>le {{question.date}}</p></div>
							</div>
						</div>
						<img src='{{question.picture.url}}'/>
					</div>
					<div class="right_question_body">
						<div class="title"><p>{{question.title}}</p></div>
						<div class="tags">
						<ul>
							<li><mark>{{question.tag1}}</mark></li> 
							<li><mark>{{question.tag2}}</mark></li> 
							<li><mark>{{question.tag3}}</mark></li>
							<li style="clear:both;"></li>
						</ul>
					</div>
						<div class="text">
							<p>{{question.message}}</p>
						</div>
						<div class="medias">
							<p>Autres Medias :</p>
							<div class="other_media"><img src="../../static/images/pictos/play.png" /></div>
							<div class="supermedia"></div>
							<div class="supermedia"></div>
							<div class="supermedia"></div>
						</div>
					</div>
					<div class="final_question_body">
									
						<div class="fb-like" data-href="http://127.0.0.1:8000/questions/{{question.slug}}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-action="recommend" style="margin-bottom:10px;"></div>
						
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://127.0.0.1:8000/questions/{{question.slug}}" data-text="Découvre cette page trop cool !" data-lang="fr">Tweeter</a>
						<div class="abus"><p>Signaler un abus</p></div>
						</div>
				</div>
			<div class='clear'></div>
			
			<div class='row-fluid'>
				<div class="left_question_body">
					<div class="direct_answer">
						{% if user.is_authentificated %}
							<a href="/questions/ask"><p>Poser une question</p></a>
						{%  else %}
							<a href="#logInscriptionModal" role="button" data-toggle="modal" data-target="#logInscriptionModal"><p>Poser une question</p></a>
						{% endif %}
				</div>
				<div class="right_question_body">
					<div class='row-fluid'>
					{% if question.user == user %}					
				<!-- If the authentificated user is the author -->
					{% if not ready %}
						<div class="question_ok">
							<a href='/questions/{{question.slug}}?ready=1' class='btn_validate_question' id='usefullValidate'>J'ai eu ma réponse</a>
						</div>
						{% else %}
						<div class="question_ok">
							<a href='/questions/{{question.slug}}' class='btn_validate_question' id='usefullValidate'>Finalement non !</a>
						</div>
						<form method="post" class="validateform" action="">
						{% csrf_token %}
						<div class="question_check">
							<button class='btn_validate_question_check' name='validateSubmit' type='submit' value='validateSubmit' id='validateSubmit'>OK !</button>
						</div>
						{% endif %}
					{% endif %}
					</div>
				</div>
			</div>	

			</div>			
		</div>	
	</div>
<div class="clear"></div>
<!-- END BANNER -->		
		<div class="content">

<!-- START ANSWERS -->

		{% for answer in answers %}	

	<!-- START ANSWER -->			
				<div id='answer{{answer.id}}' class='row-fluid'>
					<div class='span2'>

						{% if question.user == user %}
							{% if ready %}
						<div>		
							<input style="float:right;" class="pendingValidation" type="checkbox" value="{{answer.id}}" name="usefull">
						</div>
							{% endif %}
						{% endif %}
					</div>
					<div class='span10'>
						<div class="one_answer">
							<div class="member">
								<div class='like_member'>{{ answer.getLikesCount }}</div>
								<div class='arrow'>
									{% if user.is_authenticated %}
										{% if not ready %}
										<form method='post' action='' class='likeform'>
											{% csrf_token %}
											<input type='hidden' name='answerId' value='{{answer.id}}' />
											<div class='top_arrow'>
											{% if answer.currentUserLiked %}
											<img src="/static/images/pictos/top_arrow_g.png" />
											{% else %}
											<button class='likebutton' name='likesubmit' type="submit" value="likesubmit"></button>
											{% endif %}
											</div>
										</form>
										<form method='post' action='' class='dislikeform'>
											{% csrf_token %}
											<input type='hidden' name='answerId' value='{{answer.id}}' />
											<div class='bottom_arrow'>
											{% if answer.currentUserDisliked %}
											<img src="/static/images/pictos/bottom_arrow_g.png" />
											{% else %}
											<button class='dislikebutton' name='dislikesubmit' type="submit" value="dislikesubmit"></button>
											{% endif %}
											</div>
										</form>
										{% endif %}
									{% endif %}								
								</div>
								<div class='image'><img src="../../static/images/membre_de_luxe.png" /></div>
							</div>
							<div class="body_answer">
								<div class="date"><p>Par <a href="/members/{{answer.user}}"> {{ answer.user }}</a> le {{ answer.date }}</p></div>
								<div class='text'>
									<p>{{ answer.answer|truncatechars:400|safe }}
									</p>
								</div>
								<div class='abus'><p>Signaler un abus</p></div>
							</div>
						</div>
					</div>
					<div class="comment_read">
						<div class='row-fluid' >
							<div class='span4'></div>
							<div class='span8'>
								<img src="../../static/images/pictos/plus.png" alt="plus" />
								<p>{{ answer.getComments.count }} 
									{% if answer.getComments.count == 0 or answer.getComments.count == 1 %}														commentaire
									{% else %}
										commentaires
									{% endif %}
								</p>
							</div>
						</div>
					</div>

		<!-- START COMMENTS -->		
				<div class="comments_answer" style="display:none;">
					{% for comment in answer.getComments %}
					<div class="comment_question">
						<div class='row-fluid' >
							<div class='span4'></div>
							<div class='span8'  style="">
								<div class='image'>
									<img src="../../static/images/membre_de_luxe.png" />
								</div>
								<div class='texte' >
									<div class="name"><p>Posté par <a href="/members/{{comment.user}}">{{comment.user}}</a> le {{comment.date}}</p></div>
									<div class="text_comment"><p>{{ comment.comment}}</p></div>
									<div class='abus'><p>Signaler un abus</p></div>
								</div>
							</div>
						</div>
					</div>				
				{% endfor %}
				</div>
		<!-- END COMMENTS -->

		<!-- START COMMENTFORM -->
					{% if user.is_authenticated %}
					<form action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class='row-fluid' >
							<div class='span4'></div>
						    <div class="span8">
						    	{{ commentform.comment.errors }}
							    {{ commentform.comment }}
								<input style="" type="hidden" name="answerId" value="{{answer.id}}"></input>
							</div>
						</div>
						<div class='row-fluid' >
							<div class='span10'></div>
							<div class='span2'>
						    	<button style="margin-bottom:20px;" class='wetut' name='commentsubmit' type="submit" value="commentSubmit">Commenter</button>
						     </div>
						 </div>						 
					</form>	
					{% endif %}	
		<!-- END COMMENTFORM -->
			</div>
	<!-- END ANSWER -->			
			{% endfor %}
<!-- END ANSWERS -->
			{% if question.user == user %}					
				{% if ready %}</form>{% endif %}
			{% endif %}


				<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="span2"></div>
				    <div class="span10" style="margin-top:20px;">
					   	{{ answerform.answer.errors }}
						<div class='theAnswer'>{{ answerform.answer }}</div>
					</div>
				</div>
				<div class="row">
					<div class="span9"></div>
					<div class="span3" style="margin-top:15px;">
						{% if user.is_authenticated %}
							<button class='wetut' name='answersubmit' type="submit" value="answerSubmit">Répondre</button>
						{% else %}
							<a href="#logInscriptionModal" role="button" data-toggle="modal" data-target="#logInscriptionModal" class="first">Connexion / Inscription</a>
						{% endif %}
					</div>
				</div>
			</form>
		</div>
				
<script src="{{ STATIC_URL }}javascripts/NicEdit.js"></script>

<script type="text/javascript">
/* NicEdit script */
	bkLib.onDomLoaded(function() {
    	new nicEditor({buttonList : ['bold','italic','image','upload','link','youTube']}).panelInstance('id_answer');
	});

/* Revealator for the validate button */
	$("#usefullValidate").click(function () {
		  $(".pendingValidation").show();
		  $("#usefullValidate").hide();
	});
	

</script>

<script type="text/javascript">
$(".comment_read").click(
		function (event) {
			//fait apparaitre/disparaitre le texte
			$(event.currentTarget).next(".comments_answer").slideToggle();
			//on change l'image +/- a coté du titre
			var imgUrl = $(event.currentTarget).find("img").attr("src");
			
			var flip = 0;
			$("p").toggle( flip++ % 2 == 0 );

			//si on trouve plus.png -> on met minus et inversement
			if(imgUrl.search(/plus.png/i) != -1) {
				$(event.currentTarget).find("img").attr("src", "../../static/images/pictos/minus.png");
				$(event.currentTarget).find("img").attr("alt", "minus");
			}
			else {
				$(event.currentTarget).find("img").attr("src", "../../static/images/pictos/plus.png");
				$(event.currentTarget).find("img").attr("alt", "plus");
		}
	});
	$(document).ready(function() {
		$('div.theAnswer').children().empty();
	});
</script>

<div class="clear"></div>
{% endblock content %}