{% extends "layout/base.html" %}


{% block content %}

<script type="text/javascript">
	var title = $('title').text();
	$('title').html('Questions | ' + title);
</script>


 <!-- START BANNER--> 

 		<div class="banner_questions" style="height:300px;">
 			<div class="content_banner_questions" style="height:300px; width:940px;">
 				<div class="questions_filters">
 					<div class="title_tri">Trier par</div>


 					<div class="box_tri">
	 					<div class="famous choiceQuestions">

	 						<script type="text/javascript">
				 				$(document).ready(function() {
				 					$('.choiceQuestions a').click(function() {
				 						$('.filtertag mark').attr('class', 'inactive')						
				 						$('.choiceQuestions a').attr('class', 'not_selected');
				 						$('.choiceQuestions a').css('color','#9C9C9C');
				 						$(this).addClass('selected_famous_tri_pink');
				 						$(this).css('color','white');
				 						return false;
				 					})
				 				})
				 			</script>

	 						<ul>
	 							<li><a href=".questionsDate" class="date_tri selected_famous_tri_pink" style="color:white;">Date</a></li>
	 							<li style="margin-top:10px;"><a href=".questionsViews" >Popularité</a></li>
	 							<li style="margin-top:10px;"><a href=".questionsAnswers" >Réponses</a></li>
	 						</ul>
	 					</div>
	 					<div class="separator_box_tri_ask"></div>
	 					<div class="pink_tag">
	 					<div class="logiciel">
	 						<div class='filtertag' >
		 						<ul>
		 						{% for tag in tags %}
		 							{% if tag.type %}
		 								<li><a href="?tag={{tag.id}}"><mark class='{% if currentag == tag.id %}active{% else %}inactive{% endif %}'>{{tag.name}}</mark></a></li>
		 							{% endif %}
		 						{% endfor %}
		 						</ul>
 							</div>
 						</div>
 						<div class="separator_box_tri_ask"></div>
 						<div class="technique">
	 						<div class='filtertag' >
		 						<ul>
		 						{% for tag in tags %}
		 							{% if not tag.type %}
		 								<li><a href="?tag={{tag.id}}"><mark class='{% if currentag == tag.id %}active{% else %}inactive{% endif %}'>{{tag.name}}</mark></a></li>	 									
		 							{% endif %}
		 						{% endfor %}
		 						</ul>								
							</div>
	 					</div>

						{% if user.is_authenticated %}
							{% if currentag != 0 %}
							<div>
								<form  class="followTagForm" action="" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<input class="tagId" type="hidden" name="tagId" value="{{currentag}}"></input>
									<div class='follow'>
										<input name="hidden" type="hidden" value="{% if userfollowstag %}unfollow{% else %}follow{% endif %}" />
										<button class='btn-{% if userfollowstag %}ok{% else %}nok{% endif %}' name='submit' type="submit" value="followTagSubmit">{% if userfollowstag %}Ne plus suivre{% else %}Suivre ce tag{% endif %}</button>
									</div>
								</form>
							</div>
				        	{% endif %}	
					    {% endif %}
					    </div>
					<div class="clear"></div>
				</div>					
			</div>
		</div>					
	</div>
 <!-- END BANNER-->      

<div class="content">
	
	<div class="ask_questions_button">
	{% if user.is_authenticated %}
		<a href="/questions/ask"><p>Poser une question</p></a>
	{%  else %}
		<a href="#logInscriptionModal" role="button" data-toggle="modal" data-target="#logInscriptionModal"><p>Poser une question</p></a>
	{% endif %}
	</div>
	<div id="questions">


	<div class="listQuestions questionsDate">
    {% if not questionsDate %}
    	<div style="position:relative;">
    		<p>Il n'y a pas de question dans cette catégorie</p><br />
    	</div>

    {% else %}

	{% for question in questionsDate %}
			<div id="question{{question.id}}" class="one_question">
				<div class="img">
					<a href='{{question.slug}}'>
									<img class='image_one_question' src='{{question.picture.thumbnail.url}}'/>
								</a>
				</div>
				<div class="member">
					<div class="img_member">
						{% if question.user.profile.avatar.url != "" %}
     						<img src='{{question.user.profile.avatar.url}}'/>
						{% else %}
							<img src="{{MEDIA_URL}}members/avatar.jpg"/>
						{% endif %}
					</div>
					<div class="infos_member">
						<div class="view">
							<img src="{{STATIC_URL}}images/pictos/view_questions_wetut.png">
							<p id="#search_blue">{{ question.views }}</p>
						</div>
						<div class="responses">
							<img src="{{STATIC_URL}}images/pictos/bulle_questions_wetut.png">
							<p id="#search_blue">{{ question.getAnswersCount }}</p>
						</div>
					</div>
				</div>
				<div class="infos_questions">
					<div class="title"><a href='{{question.slug}}'>{{ question.title }}</a></div>
					<div class="date"><p>Par {{question.user}}</p> <p style="font-style:italic; font-size:10px; margin-top:1px;">le {{question.date}}</p></div>
					
					<div class="tags">
						<ul>
							{% for tag in question.getTags %}
							<a href="?tag={{tag.id}}"><li><mark>{{tag.name}}</mark></li></a>
							{% endfor %}
							<li style="clear:both;"></li>
						</ul>
					</div>
					<div class="text"><p style="clear:both;">{{ question.message|truncatechars:80 }}</p></div>
				</div>
				<div class="action_member">
					<a href="/questions/{{question.slug}}">
					{% if user.is_authenticated %}
					<div class="answer">
						<img src="{{STATIC_URL}}images/pictos/answer_picto.png"><p>Je sais !</p>
					</div>
					{% else %}
					<div class="answer2">
						<img src="{{STATIC_URL}}images/pictos/answer_picto.png"><p>Je sais !</p>
					</div>
					{% endif %}
					</a>
					<div class="question_follow">
					{% if user.is_authenticated %}
						<form  class="followForm" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input class="questionId" type="hidden" name="questionId" value="{{question.id}}"></input>
						<div class='follow'>
							<input name="hidden" type="hidden" value="{% if question.currentUserFollows %}unfollow{% else %}follow{% endif %}" />
							<button class='btn-{% if question.currentUserFollows %}ok{% else %}nok{% endif %}' name='submit' type="submit" value="followSubmit">{% if question.currentUserFollows %}Ne plus suivre{% else %}Suivre{% endif %}</button>
						</div>
						</form>
					{% endif %}	
					</div>	
			</div>
			</div>
	{% endfor %}

{% endif %}
	

	<div class="pagination">
	    <span class="step-links">
	        {% if questionsDate.has_previous %}
	            <a href="?pageDate={{ questionsDate.previous_page_number }}">
	            	<img src="{{STATIC_URL}}images/pictos/previous_pagination.png"/>
	            	{{ questionsDate.previous_page_number }}
	            </a>
	        {% endif %}

	        <span class="current">
	        	<mark class="current_pagination_number">{{ questionsDate.number }}</mark>
	        </span>

	        {% if questionsDate.has_next %}
	            <a href="?pageDate={{ questionsDate.next_page_number }}">
	            	{{ questionsDate.next_page_number }}
	            	<img src="{{STATIC_URL}}images/pictos/next_pagination.png"/>
	            </a>
	        {% endif %}
	    </span>
	</div>
	</div>



	<div class="listQuestions questionsViews" style="display:none;">
    {% if not questionsViews %}
    	<div style="position:relative;">
    		<p>Il n'y a pas de question dans cette catégorie</p><br />
    	</div>

    {% else %}

	{% for question in questionsViews %}
			<div id="question{{question.id}}" class="one_question">
				<div class="img">
					<a href='{{question.slug}}'>
									<img class='image_one_question' src='{{question.picture.thumbnail.url}}'/>
								</a>
				</div>
				<div class="member">
					<div class="img_member">
						{% if question.user.profile.avatar.url != "" %}
     						<img src='{{question.user.profile.avatar.url}}'/>
						{% else %}
							<img src="{{MEDIA_URL}}members/avatar.jpg"/>
						{% endif %}
					</div>
					<div class="infos_member">
						<div class="view">
							<img src="{{STATIC_URL}}images/pictos/view_questions_wetut.png">
							<p id="#search_blue">{{ question.views }}</p>
						</div>
						<div class="responses">
							<img src="{{STATIC_URL}}images/pictos/bulle_questions_wetut.png">
							<p id="#search_blue">{{ question.getAnswersCount }}</p>
						</div>
					</div>
				</div>
				<div class="infos_questions">
					<div class="title"><a href='{{question.slug}}'>{{ question.title }}</a></div>
					<div class="date"><p>Par {{question.user}}</p> <p style="font-style:italic; font-size:10px; margin-top:1px;">le {{question.date}}</p></div>
					<div class="tags">
						<ul>
							{% for tag in question.getTags %}
							<a href="?tag={{tag.id}}"><li><mark>{{tag.name}}</mark></li></a>
							{% endfor %}
							<li style="clear:both;"></li>
						</ul>
					</div>
					<div class="text"><p>{{ question.message|truncatechars:80 }}</p></div>
				</div>
				<div class="action_member">
					<a href="/questions/{{question.slug}}">
					<div class="answer">
						<img src="{{STATIC_URL}}images/pictos/answer_picto.png"><p>Je sais !</p>
					</div>
					</a>
					<div class="question_follow">
					{% if user.is_authenticated %}
						<form  class="followForm" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input class="questionId" type="hidden" name="questionId" value="{{question.id}}"></input>
						<div class='follow'>
							<input name="hidden" type="hidden" value="{% if question.currentUserFollows %}unfollow{% else %}follow{% endif %}" />
							<button class='btn-{% if question.currentUserFollows %}ok{% else %}nok{% endif %}' name='submit' type="submit" value="followSubmit">{% if question.currentUserFollows %}Ne plus suivre{% else %}Suivre{% endif %}</button>
						</div>
						</form>
					{% endif %}	
					</div>	
			</div>
			</div>
	{% endfor %}

{% endif %}
	

	<div class="pagination">
	    <span class="step-links">
	        {% if questionsViews.has_previous %}
	            <a href="?pageViews={{ questionsViews.previous_page_number }}">
	            	<img src="{{STATIC_URL}}images/pictos/previous_pagination.png"/>
	            	{{ questionsViews.previous_page_number }}
	            </a>
	        {% endif %}

	        <span class="current">
	           <mark class="current_pagination_number">{{ questionsViews.number }}</mark>
	        </span>

	        {% if questionsViews.has_next %}
	            <a href="?pageViews={{ questionsViews.next_page_number }}">
	           		 {{ questionsViews.next_page_number }}
	            	<img src="{{STATIC_URL}}images/pictos/next_pagination.png"/>
	            </a>
	        {% endif %}
	    </span>
	</div>
	</div>


	<div class="listQuestions questionsAnswers" style="display:none;">
    {% if not questionsAnswers %}
    	<div style="position:relative;">
    		<p>Il n'y a pas de question dans cette catégorie</p><br />
    	</div>

    {% else %}

	{% for question in questionsAnswers %}
			<div id="question{{question.id}}" class="one_question">
				<div class="img">
					<a href='{{question.slug}}'>
									<img class='image_one_question' src='{{question.picture.thumbnail.url}}'/>
								</a>
				</div>
				<div class="member">
					<div class="img_member">
						{% if question.user.profile.avatar.url != "" %}
     						<img src='{{question.user.profile.avatar.url}}'/>
						{% else %}
							<img src="{{MEDIA_URL}}members/avatar.jpg"/>
						{% endif %}
					</div>
					<div class="infos_member">
						<div class="view">
							<img src="{{STATIC_URL}}images/pictos/view_questions_wetut.png">
							<p id="#search_blue">{{ question.views }}</p>
						</div>
						<div class="responses">
							<img src="{{STATIC_URL}}images/pictos/bulle_questions_wetut.png">
							<p id="#search_blue">{{ question.getAnswersCount }}</p>
						</div>
					</div>
				</div>
				<div class="infos_questions">
					<div class="title"><a href='{{question.slug}}'>{{ question.title }}</a></div>
					<div class="date"><p>Par {{question.user}}</p> <p style="font-style:italic; font-size:10px; margin-top:1px;">le {{question.date}}</p></div>
					<div class="tags">
						<ul>
							{% for tag in question.getTags %}
							<a href="?tag={{tag.id}}"><li><mark>{{tag.name}}</mark></li></a>
							{% endfor %}
							<li style="clear:both;"></li>
						</ul>
					</div>
					<div class="text"><p>{{ question.message|truncatechars:80 }}</p></div>
				</div>
				<div class="action_member">
					<a href="/questions/{{question.slug}}">
					<div class="answer">
						<img src="{{STATIC_URL}}images/pictos/answer_picto.png"><p>Je sais !</p>
					</div>
					</a>
					<div class="question_follow">
					{% if user.is_authenticated %}
						<form  class="followForm" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input class="questionId" type="hidden" name="questionId" value="{{question.id}}"></input>
						<div class='follow'>
							<input name="hidden" type="hidden" value="{% if question.currentUserFollows %}unfollow{% else %}follow{% endif %}" />
							<button class='btn-{% if question.currentUserFollows %}ok{% else %}nok{% endif %}' name='submit' type="submit" value="followSubmit">{% if question.currentUserFollows %}Ne plus suivre{% else %}Suivre{% endif %}</button>
						</div>
						</form>
					{% endif %}	
					</div>	
			</div>
			</div>
	{% endfor %}

{% endif %}
	

	<div class="pagination">
	    <span class="step-links">
	        {% if questionsAnswers.has_previous %}
	        	<a href="?pageAnswers={{ questionsAnswers.previous_page_number }}">
	            	<img src="{{STATIC_URL}}images/pictos/previous_pagination.png"/>
	            	{{ questionsAnswers.previous_page_number }}
	            </a>
	        {% endif %}

	        <span class="current">
	        	 <mark class="current_pagination_number">{{ questionsAnswers.number }}</mark>
	        </span>

	        {% if questionsAnswers.has_next %}
	            <a href="?pageAnswers={{ questionsAnswers.next_page_number }}">
	            	{{ questionsAnswers.next_page_number }}
	            	<img src="{{STATIC_URL}}images/pictos/next_pagination.png"/>
	            </a>
	        {% endif %}
	    </span>
	</div>
	</div>
</div>


	<div class="clear"></div>
	<div class="ask_questions_button">
		{% if user.is_authenticated %}
			<a href="/questions/ask"><p>Poser une question</p></a>
		{%  else %}
			<a href="#logInscriptionModal" role="button" data-toggle="modal" data-target="#logInscriptionModal"><p>Poser une question</p></a>
		{% endif %}
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
 		var mainPage = window.location.href.split('questions')[1];
 		$('.box_tri .famous li a').click(function() {
	 		var url = $(this).attr('href');
	 		$('div.listQuestions').hide();
	 		$(url).show();
			return false;
 		});


 		if(mainPage != '/') {

 			var currentChoice = window.location.href.split('?')[1].split('=')[0];
			
			if(currentChoice=='pageDate') {
				$('div.date_tri').css('color','white');
				$('div.listQuestions').hide();
	 			$('div.questionsDate').show();
			}

			if(currentChoice=='pageViews') {
				$('div.listQuestions').hide();
	 			$('div.questionsViews').show();
			}

			if(currentChoice=='pageAnswers') {
				$('div.listQuestions').hide();
	 			$('div.questionsAnswers').show();
			}
 		}

	});
</script>



{% endblock content %}

