{% extends "layout/base.html" %}


{% block content %}

<div class="content">

	<div id="questions">

		<form id='filterform' action="" method="POST">
			{% csrf_token %}
	        <ul>
	        {{ filterform.as_ul}}	        
	        </ul>
        </form>

	{% for question in questions %}	
	
		<div class='row-fluid'>
			<div class='span2'>
				<a href='{{question.slug}}'>
					<img class='img-rounded' src='{{MEDIA_URL}}{{question.picture}}' width='100px' height='100px' />
				</a>
			</div>
			<div class='span4' >
				<a href='{{question.slug}}'><h5>{{ question.title }}</h5></a>
				<p>{{ question.message|truncatechars:80 }}</p>
			</div>
			<div class='span4'>
				<div class='row-fluid'>
					<div class='span4'>
						<table class='table table-bordered'>
							<tr height='30px'>
								<td class="small">REPONSES</td>
							</tr>
							<tr height='50px'>
								<td class="big">{{ question.getAnswersCount }}</td>
							</tr>
						</table>
					</div>
					<div class='span4'>
						<table class='table table-bordered'>
							<tr height='30px'>
								<td class="small">VUES</td>
							</tr>
							<tr height='50px'>
								<td class="big">{{ question.views }}</td>
							</tr>
						</table>
					</div>
					<div class='span4'>
						<table class='table table-bordered'>
							<tr height='30px'>
								<td class="small">SUIVRE</td>
							</tr>
							<tr height='50px'>
								<td><img onclick='' src='{{STATIC_URL}}images/logo.png' width='30px' height='30px' /></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class='span2'>
				<button class='btn btn-primary btn-block vcenter'  onclick='location.href="{{question.slug}}"'>REPONDRE</button>
			</div>
		</div>

		<hr />

{% endfor %}
	</div>
</div>

{% endblock content %}



