{% extends "layout/base.html" %}

{% block content %}



<div class="banner_tutos">
	<div class="content_tutos">
		<form id='filterform' action="" method="POST">
			{% csrf_token %}
		    <ul>
		        {{ filterform.as_ul}}	        
			</ul>
		</form>
	</div>
</div>
    
<div class="content">
		<div class='row-fluid'>
			{% for tutorial in tutorials %}	
				{% if tutorial.validate %}
			
				<div class='span3' >
					<div class="one_tuto">
						<div class="title"><a href='{{tutorial.slug}}'>{{ tutorial.title }}</a></div>
						<div class="img">
							<div class="picture">
								<a href='{{tutorial.slug}}'>
									<img class='img-rounded' src='{{tutorial.picture.thumbnail.url}}'/>
								</a>
							</div>
							<a href='{{tutorial.slug}}'>
							<div class="infos">
								<div class="responses"><p>{{ tutorial.getAnswersCount }}</p></div>
								<div class="views"><p>{{ tutorial.views }}</p></div>
							</div>
							</a>
						</div>
					</div>
				</div>
		
			{% endif %}
		{% endfor %}
		</div>
</div>
		
{% endblock content %}