{% extends "layout/base.html" %}

{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<!-- START BANNER -->
	<div class="question_banner">
		<div class="content_banner">
			
			<div id="question">
				<div class="body_question">
					<div class="left_question_body">
						<div class="member">
							<div class="image">

							{% if question.user.profile.avatar.url != "" %}
     							<img src='{{question.user.profile.avatar.url}}'/>
							{% else %}
								<img src="{{MEDIA_URL}}members/avatar.jpg"/>
							{% endif %}

							</div>
							<div class="infos" style="background-color:#01c6e8;">
								<div class="name"><p>Posté par {{question.user.username}}</p></div>
								<div class="date"><p>le {{question.date}}</p></div>
							</div>
						</div>
						<img src='{{question.picture.url}}'/>
					</div>
					<div class="right_question_body">
						<div class="title"><p>{{question.title}}</p></div>
						<div class="tags"></div>
						<div class="text">
							<p>{{question.message}}</p>
						</div>
						<div class="medias">
							<p>Autres Medias :</p>
							<div class="other_media" style="background-color:#01c6e8;"><img src="{{STATIC_URL}}images/pictos/play.png" /></div>
							<div class="supermedia"></div>
							<div class="supermedia"></div>
							<div class="supermedia"></div>
						</div>
						<div class="abus"><p style="color:#01c6e8;">Signaler un abus</p></div>
					</div>

					<div class="fb-like" data-href="http://127.0.0.1:8000/tutoriels/{{question.slug}}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-action="recommend"></div>
					
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://127.0.0.1:8000/tutoriels/{{question.slug}}" data-text="Découvre cette page trop cool !" data-lang="fr">Tweeter</a>
				
				</div>
			</div>	
		</div>	
	</div>
		
<!-- END BANNER -->		

		<div class="content">

<!-- START ANSWERS -->

		{% for answer in answers %}	

	<!-- START ANSWER -->			
				<div id='answer{{answer.id}}' class='row-fluid'>
					{% if answer.usefull %}
					<div class='span2'>
							<img src="{{STATIC_URL}}images/certified.png" />
					</div>
					{% else %}
						<div class='span2'></div>
					{% endif %}	
					<div class='span10'>
						<div class="one_answer">
							<div class="member" style="background-color:#01c6e8;">
								<div class='like_member'>{{ answer.getLikesCount }}</div>
								<div class='arrow'>						
								</div>
								<div class='image'>
									{% if answer.user.profile.avatar.url != "" %}
		     							<img src='{{answer.user.profile.avatar.url}}'/>
									{% else %}
										<img src="{{MEDIA_URL}}members/avatar.jpg"/>
									{% endif %}
								</div>
							</div>
							<div class="body_answer">
								<div class="date"><p>Par {{ answer.user }} le {{ answer.date }}</p></div>
								<div class='text'>
									<p>{{ answer.answer|truncatechars:400|safe }}
									</p>
								</div>
								<div class='abus'><p style="color:#01c6e8;">Signaler un abus</p></div>
							</div>
						</div>
					</div>
					<div class="comment_read">
						<div class='row-fluid' >
							<div class='span4'></div>
							<div class='span8'>
								<img src="{{STATIC_URL}}images/pictos/plus.png" alt="plus" />
								<p>{{ answer.getComments.count }} 
									{% if answer.getComments.count == 0 or answer.getComments.count == 1 %}														commentaire
									{% else %}
										commentaires
									{% endif %}</p>
							</div>
						</div>
					</div>

		<!-- START COMMENTS -->		
				<div class="comments_answer" style="display:none;">
					{% for comment in answer.getComments %}
					<div class="comment_question">
						<div class='row-fluid' >
							<div class='span4'></div>
							<div class='span8'  style="">
								<div class='image'>
									{% if answer.user.profile.avatar.url != "" %}
		     							<img src='{{comment.user.profile.avatar.url}}' style="width:80px;height:80px;"/>
									{% else %}
										<img src="{{MEDIA_URL}}members/avatar.jpg" style="width:80px;height:80px;"/>
									{% endif %}
								</div>
								<div class='texte' >
									<div class="name"><p>Posté par {{comment.user}} le {{comment.date}}</p></div>
									<div class="text_comment"><p>{{ comment.comment}}</p></div>
									<div class='abus'><p style="color:#01c6e8;">Signaler un abus</p></div>
								</div>
							</div>
						</div>
					</div>				
				{% endfor %}
				</div>
		<!-- END COMMENTS -->

		<!-- START COMMENTFORM -->

		<!-- END COMMENTFORM -->
			</div>
	<!-- END ANSWER -->			
			{% endfor %}
<!-- END ANSWERS -->
				
<script src="{{ STATIC_URL }}javascripts/NicEdit.js"></script>

<script type="text/javascript">
/* NicEdit script */
	bkLib.onDomLoaded(function() {
    	new nicEditor({buttonList : ['bold','italic','image','upload','link','youTube']}).panelInstance('id_answer');
	});

/* Revealator for the validate button */
	$("#usefullValidate").click(function () {
		  $(".pendingValidation").show();
		  $("#usefullValidate").hide();
	});
	

</script>

<script type="text/javascript">
$(".comment_read").click(
		function (event) {
			//fait apparaitre/disparaitre le texte
			$(event.currentTarget).next(".comments_answer").slideToggle();
			//on change l'image +/- a coté du titre
			var imgUrl = $(event.currentTarget).find("img").attr("src");
			
			var flip = 0;
			$("p").toggle( flip++ % 2 == 0 );

			//si on trouve plus.png -> on met minus et inversement
			if(imgUrl.search(/plus.png/i) != -1) {
				$(event.currentTarget).find("img").attr("src", "{{STATIC_URL}}images/pictos/minus.png");
				$(event.currentTarget).find("img").attr("alt", "minus");
			}
			else {
				$(event.currentTarget).find("img").attr("src", "{{STATIC_URL}}images/pictos/plus.png");
				$(event.currentTarget).find("img").attr("alt", "plus");
		}
	});
</script>

<div class="clear"></div>
{% endblock content %}