{% extends "layout/base.html" %}

{% block content %}



<div class="banner_tutos">
	<div class="content_tutos">
		<form id='filterform' action="" method="POST">
			{% csrf_token %}
	        <ul>
	        {{ filterform.as_ul}}	        
	        </ul>
	        <input name="submit" type="hidden" value="filterSubmit" />
        </form>
	</div>
</div>
    
<div class="content">
	<div class="content_tutos">
		<div class='row-fluid'>
			{% for tutorial in tutorials %}	
			
				<div class='span3' >
					<div id="tutorial{{tutorial.id}}" class="one_tuto">
						<div class="title"><a href='{{tutorial.slug}}'>{{ tutorial.title }}</a></div>
						<div class="img">
							<div class="picture">
								<a href='{{tutorial.slug}}'>
									<img class='img-rounded' src='{{tutorial.picture.thumbnail.url}}'/>
								</a>
							</div>
							<a href='{{tutorial.slug}}'>
							<div class="infos">
								<div class="responses"><p>{{ tutorial.getAnswersCount }}</p></div>
								<div class="views"><p>{{ tutorial.views }}</p></div>
							</div>
							</a>
						</div>
						{% if user.is_authenticated %}
							<form  class="likeTuto" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<input class="tutoId" type="hidden" name="tutoId" value="{{tutorial.id}}"></input>
							<div class='like'>
								<input name="hidden" type="hidden" value="{% if tutorial.currentUserLikes %}dislike{% else %}like{% endif %}" />
								<button class='btn-{% if tutorial.currentUserLikes %}ok{% else %}nok{% endif %}' name='likeTutoSubmit' type="submit" value="likeTutoSubmit">{% if tutorial.currentUserLikes %}Je n'aime plus{% else %}J'aime{% endif %}</button>
							</div>
							</form>
						{% endif %}
					</div>
				</div>
		{% endfor %}
		</div>

		<div class="pagination">
		    <span class="step-links">
		        {% if tutorials.has_previous %}
		            <a href="?page={{ tutorials.previous_page_number }}">précédent</a>
		        {% endif %}

		        <span class="current">
		            Page {{ tutorials.number }} sur {{ tutorials.paginator.num_pages }}
		        </span>

		        {% if tutorials.has_next %}
		            <a href="?page={{ tutorials.next_page_number }}">suivant</a>
		        {% endif %}
		    </span>
		</div>

	</div>
</div>


<script type="text/javascript">
$(document).ready( function(){
 	$('#filterform option[value={{filtervalue}}]').attr("selected", "selected");
});
</script>
		
{% endblock content %}