{% extends "layout/base.html" %}

{% block content %}

<script type="text/javascript">
	var title = $('title').text();
	$('title').html('Tutorials | ' + title);
</script>


 <!-- START BANNER--> 

 		<div class="banner_questions" style="height:300px;">
 			<div class="content_banner_questions" style="height:300px; width:940px;">
 				<div class="questions_filters">
 					<div class="title_tri">Trier par</div>


 					<div class="box_tri">
	 					<div class="famous choiceQuestions">

	 						<script type="text/javascript">
				 				$(document).ready(function() {
				 					$('.choiceQuestions a').click(function() {
				 						$('.filtertag mark').attr('class', 'inactivetut');					
				 						$('.choiceQuestions a').attr('class', 'not_selected');
				 						$('.choiceQuestions a').css('color','#9C9C9C');
				 						$(this).addClass('selected_famous_tri_blue');
				 						$(this).css('color','white');
				 						return false;
				 					})
				 				})
				 			</script>

	 						<ul>
	 							<li><a href=".tutosDate" class="date_tri selected_famous_tri_blue" style="color:white;">Date</a></li>
	 							<li style="margin-top:10px;"><a href=".tutosViews" >Vues</a></li>
	 							<li style="margin-top:10px;"><a href=".tutosLikes" >Popularité</a></li>
	 						</ul>
	 					</div>
	 					<div class="separator_box_tri_ask"></div>
	 					<div class="logiciel">
	 						<div class='filtertag' >
		 						<ul>
		 						{% for tag in tags %}
		 							{% if tag.type %}
		 								<li><a href="?tag={{tag.id}}"><mark class='{% if currentag == tag.id %}activetut{% else %}inactivetut{% endif %}'>{{tag.name}}</mark></a></li>
		 							{% endif %}
		 						{% endfor %}
		 						</ul>
 							</div>
 						</div>
 						<div class="separator_box_tri_ask"></div>
 						<div class="technique">
	 						<div class='filtertag' >
		 						<ul>
		 						{% for tag in tags %}
		 							{% if not tag.type %}
		 								<li><a href="?tag={{tag.id}}"><mark class='{% if currentag == tag.id %}activetut{% else %}inactivetut{% endif %}'>{{tag.name}}</mark></a></li>	 									
		 							{% endif %}
		 						{% endfor %}
		 						</ul>								
							</div>
	 					</div>

						{% if user.is_authenticated %}
							{% if currentag != 0 %}
							<div>
								<form  class="followTagForm" action="" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<input class="tagId" type="hidden" name="tagId" value="{{currentag}}"></input>
									<div class='follow'>
										<input name="hidden" type="hidden" value="{% if userfollowstag %}unfollow{% else %}follow{% endif %}" />
										<button class='btn-{% if userfollowstag %}danger{% else %}primary{% endif %} btn-block vcenter' name='submit' type="submit" value="followTagSubmit">{% if userfollowstag %}Ne plus suivre{% else %}Suivre ce tag{% endif %}</button>
									</div>
								</form>
							</div>
				        	{% endif %}	
					    {% endif %}
					<div class="clear"></div>
				</div>					
			</div>
		</div>					
	</div>
 <!-- END BANNER--> 


 						
					<script type="text/javascript">
					$(document).ready(function() {
	        	 		var mainPage = window.location.href.split('tutoriels')[1];

	        	 		$('.box_tri .famous li a').click(function() {
	        	 			var url = $(this).attr('href');
		        	 		$('div.listTutos').hide();
		        	 		$(url).show();
		        			return false;
	        	 		});


	        	 		if(mainPage != '/') {

	        	 			var currentChoice = window.location.href.split('?')[1].split('=')[0];
							
							if(currentChoice=='pageDate') {
								$('div.listTutos').hide();
		        	 			$('div.tutosDate').show();
							}

							if(currentChoice=='pageViews') {
								$('div.listTutos').hide();
		        	 			$('div.tutosViews').show();
							}

							if(currentChoice=='pageLikes') {
								$('div.listTutos').hide();
		        	 			$('div.tutosLikes').show();
							}
	        	 		}

					});
					</script>

    
	<div class="content_members">
		<div class='row-fluid'>

			<div class="listTutos tutosDate">
			{% for tutorial in tutorialsDate %}	
			
				<div class='cat3'>
					<div id="tutorial{{tutorial.id}}" class="one_tuto">
						<div class="title"><a href='{{tutorial.slug}}'>{{ tutorial.title }}</a></div>
						<div class="img">
							<div class="picture">
								<a href='{{tutorial.slug}}'>
									<img class='img-rounded' src='{{tutorial.picture.thumbnail.url}}'/>
								</a>
							</div>
							<a href='{{tutorial.slug}}'>
							<div class="infos">
								<div class="responses"><p>{{ tutorial.views }}</p></div>
								<div class="views"><p>{{ tutorial.getLikesCount }}</p></div>
							</div>
							</a>
						</div>						
					</div>
				</div>
		{% endfor %}

		
		<div class="clear"></div>
		<div class="pagination">
		    <span class="step-links">
		        {% if tutorialsDate.has_previous %}
		            <a href="?page={{ tutorialsDate.previous_page_number }}">précédent</a>
		        {% endif %}

		        <span class="current">
		            Page {{ tutorialsDate.number }} sur {{ tutorialsDate.paginator.num_pages }}
		        </span>

		        {% if tutorialsDate.has_next %}
		            <a href="?page={{ tutorialsDate.next_page_number }}">suivant</a>
		        {% endif %}
		    </span>
		</div>
		
		</div>

		<div class="listTutos tutosViews" style="display:none;">
			{% for tutorial in tutorialsViews %}			
				<div class='cat3' >
					<div id="tutorial{{tutorial.id}}" class="one_tuto">
						<div class="title"><a href='{{tutorial.slug}}'>{{ tutorial.title }}</a></div>
						<div class="img">
							<div class="picture">
								<a href='{{tutorial.slug}}'>
									<img class='img-rounded' src='{{tutorial.picture.thumbnail.url}}'/>
								</a>
							</div>
							<a href='{{tutorial.slug}}'>
							<div class="infos">
								<div class="responses"><p>{{ tutorial.views }}</p></div>
								<div class="views"><p>{{ tutorial.getLikesCount }}</p></div>
							</div>
							</a>
						</div>
					</div>
				</div>
		{% endfor %}
		

		<div class="pagination">
		    <span class="step-links">
		        {% if tutorialsViews.has_previous %}
		            <a href="?page={{ tutorialsViews.previous_page_number }}">précédent</a>
		        {% endif %}

		        <span class="current">
		            Page {{ tutorialsViews.number }} sur {{ tutorialsViews.paginator.num_pages }}
		        </span>

		        {% if tutorialsViews.has_next %}
		            <a href="?page={{ tutorialsViews.next_page_number }}">suivant</a>
		        {% endif %}
		    </span>
		</div>
		
		</div>


		<div class="listTutos tutosLikes" style="display:none;">
			{% for tutorial in tutorialsLikes %}	
			
				<div class='cat3' >
					<div id="tutorial{{tutorial.id}}" class="one_tuto">
						<div class="title"><a href='{{tutorial.slug}}'>{{ tutorial.title }}</a></div>
						<div class="img">
							<div class="picture">
								<a href='{{tutorial.slug}}'>
									<img class='img-rounded' src='{{tutorial.picture.thumbnail.url}}'/>
								</a>
							</div>
							<a href='{{tutorial.slug}}'>
							<div class="infos">
								<div class="responses"><p>{{ tutorial.views }}</p></div>
								<div class="views"><p>{{ tutorial.getLikesCount }}</p></div>
							</div>
							</a>
						</div>
					</div>
				</div>
		{% endfor %}
		

		<div class="pagination">
		    <span class="step-links">
		        {% if tutorialsLikes.has_previous %}
		            <a href="?page={{ tutorialsLikes.previous_page_number }}">précédent</a>
		        {% endif %}

		        <span class="current">
		            Page {{ tutorialsLikes.number }} sur {{ tutorialsLikes.paginator.num_pages }}
		        </span>

		        {% if tutorialsLikes.has_next %}
		            <a href="?page={{ tutorialsLikes.next_page_number }}">suivant</a>
		        {% endif %}
		    </span>
		</div>
		
		</div>


	</div>
</div>

		
{% endblock content %}