<div id="footer">
	<div id="content_footer">
		<div id="footer-column1">
			<ul>
				<h3>Wetut</h3>
				<li><a href="/guide/">Mode d'emploi</a></li>
				<li><a href="/legal/">Mentions légales</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>	
		</div>
		<div class="footer-separator"></div>
		<div id="footer-column2">
			<h3>Derniers tutos crées</h3>
			{% for tutorial in tutorialsDate %}
				<a href="tutoriels/{{tutorial.slug}}" style="font-family:'Rambla'">{{ tutorial.title }}</a><br />
			{% endfor %}
		</div>
		<div class="footer-separator"></div>
		<div id="footer-column3">
			<h3>Partager</h3>
			<a href="https://twitter.com/teamwetut" target="_blank">
			<div class="share_reseau twitter">
				<img src="{{STATIC_URL}}images/pictos/twitter_share.png"/>
				<div class="triangle"></div>
				<div class="figure"></div>
			</div>
			</a>

			<a href="http://www.facebook.com/pages/Wetut/502436103125006" target="_blank">
			<div class="share_reseau facebook">
				<img src="{{STATIC_URL}}images/pictos/facebook_share.png"/>
				<div class="triangle"></div>
				<div class="figure"></div>
			</div>
			</a>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function() {
		var urlFacebook = 'https://api.facebook.com/method/fql.query?format=json&query=select+fan_count+from+page+where+page_id=502436103125006';
		$('#footer .facebook .figure').hide();
		$('#footer .facebook .figure').load(urlFacebook, function() {
			var resultFacebook = $('#footer .facebook .figure').text();
			var likesFacebook = resultFacebook.split(':')[1].split('}')[0];
			$('#footer .facebook .figure').html(likesFacebook);
			$('#footer .facebook .figure').show();
		});


		var twitterUser = 'teamwetut';
		$.getJSON("http://api.twitter.com/1/users/show.json?screen_name="+twitterUser+"&callback=?",function(data) {
			$.each(data, function(index,value){
				if(index=='followers_count') {
					$('#footer .twitter .figure').append(value);
				}
			});
		});
	});
	</script>
	
</div>