<div id="footer">
	<div id="content_footer">
		<div id="footer-column1">
			<ul>
				<h3>Wetut</h3>
				<li><a href="/guide/">Mode d'emploi</a></li>
				<li><a href="/legal/">Mentions légales</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>	
		</div>
		<div class="footer-separator"></div>
		<div id="footer-column2">
			<h3>Newsletter</h3>
		</div>
		<div class="footer-separator"></div>
		<div id="footer-column3">
			<h3>Partager</h3>
			<div class="share_reseau twitter">
				<img src="{{STATIC_URL}}images/pictos/twitter_share.png"/>
				<div class="triangle"></div>
				<div class="figure"></div>
			</div>
			<div class="share_reseau facebook">
				<img src="{{STATIC_URL}}images/pictos/facebook_share.png"/>
				<div class="triangle"></div>
				<div class="figure"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function() {
		var urlFacebook = 'https://api.facebook.com/method/fql.query?format=json&query=select+fan_count+from+page+where+page_id=502436103125006';
		$('#footer .facebook .figure').hide();
		$('#footer .facebook .figure').load(urlFacebook, function() {
			var resultFacebook = $('#footer .facebook .figure').text();
			var likesFacebook = resultFacebook.split(':')[1].split('}')[0];
			$('#footer .facebook .figure').html(likesFacebook);
			$('#footer .facebook .figure').show();
		});
	});
	</script>
	
</div>