<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>weTut</title>

	<!-- Bootstrap CSS stylesheets -->
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/bootstrap.css">

	<!-- Customized stylesheet -->
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/custom.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}stylesheets/jquery-ui-1.8.22.custom.css"/>

	<!-- Bootstrap JS scripts -->
	<script src="{{ STATIC_URL }}javascripts/jquery.js"></script>
	<script src="{{ STATIC_URL }}javascripts/jquery-1.8.3.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.8.22.custom.min.js"></script>

	<!-- Bootstrap JS scripts -->
	<!--<script src="{{ STATIC_URL }}javascripts/bootstrap.js"></script>-->
	
	<script>
  
	 (function( $) {
	    $.widget( "ui.combobox", {
	      _create: function() {
	
	        var input,
	          self = this,
	          select = this.element.hide(),
	          selected = select.children( ":selected" ),
	          value = selected.val() ? selected.text() : "",
	          wrapper = this.wrapper = $( "<span>" )
	            .addClass( "ui-combobox" )
	            .insertAfter( select );
	                        
	                var placeholder = select.attr('id');                    
	        input = $( "<input class='placeholder' placeholder='" + placeholder + "'>" )
	          .appendTo( wrapper )
	          .addClass( "ui-state-default ui-combobox-input" )
	          .autocomplete({
	            delay: 0,
	            minLength: 0,
	            source: function( request, response ) {
	              var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
	              response( select.children( "option" ).map(function() {
	                var text = $( this ).text();
	                if ( this.value && ( !request.term || matcher.test(text) ) )
	                  return {
	                    label: text.replace(
	                      new RegExp(
	                        "(?![^&;]+;)(?!<[^<>]*)(" +
	                        $.ui.autocomplete.escapeRegex(request.term) +
	                        ")(?![^<>]*>)(?![^&;]+;)", "gi"
	                      ), "<strong>$1</strong>" ),
	                    value: text,
	                    option: this
	                  };
	              }) );
	            },
	            select: function( event, ui ) {
	              ui.item.option.selected = true;
	              self._trigger( "selected", event, {
	                item: ui.item.option
	              });
	            },
	            change: function( event, ui ) {
	              if ( !ui.item ) {
	                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" ),
	                  valid = false;
	                select.children( "option" ).each(function() {
	                  if ( $( this ).text().match( matcher ) ) {
	                    this.selected = valid = true;
	                    return false;
	                  }
	                });
	                if ( !valid ) {
	                  // remove invalid value, as it didn't match anything
	                  $( this ).val( "" );
	                  select.val( "" );
	                  input.data( "autocomplete" ).term = "";
	                  return false;
	                }
	              }
	            }
	          })
	          .addClass( "ui-widget ui-widget-content ui-corner-left" );
	                                        
	                                        // This line added to set default value of the combobox
	                                        if ($(select).hasClass('default-select')){
	                                            input.val($(select).find("option:selected").text());
	                                        }
	
	        input.data( "autocomplete" )._renderItem = function( ul, item ) {
	          return $( "<li></li>" )
	            .data( "item.autocomplete", item )
	            .append( "<a>" + item.label + "</a>" )
	            .appendTo( ul );
	        };
	
	        $( "<a>" )
	          .attr( "tabIndex", -1 )
	          .attr( "title", "Show All Items" )
	          .appendTo( wrapper )
	          .button({
	            icons: {
	              primary: "ui-icon-triangle-1-s"
	            },
	            text: false
	          })
	          .removeClass( "ui-corner-all" )
	          .addClass( "ui-corner-right ui-combobox-toggle" )
	          .click(function() {
	            // close if already visible
	            if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
	              input.autocomplete( "close" );
	              return;
	            }
	
	            // work around a bug (likely same cause as #5265)
	            $( this ).blur();
	
	            // pass empty string as value to search for, displaying all results
	            input.autocomplete( "search", "" );
	            input.focus();
	          });
	      },
	
	      destroy: function() {
	        this.wrapper.remove();
	        this.element.show();
	        $.Widget.prototype.destroy.call( this );
	      }
	    });
	  })( jQuery );
	
	  $(function() {
	    $( ".combobox" ).combobox();
	    $( "#toggle" ).click(function() {
	      $( ".combobox" ).toggle();
	    });
	  });
  </script>
  
	<link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
</head>