<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>weTut</title>

	<!-- Bootstrap CSS stylesheets -->
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/bootstrap.css">

	<!-- Customized stylesheet -->
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/custom.css">

	<!-- Bootstrap JS scripts -->
	<script src="{{ STATIC_URL }}javascripts/jquery.js"></script>

	<!-- Bootstrap JS scripts -->
	<script src="{{ STATIC_URL }}javascripts/bootstrap.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
</head>