<!-- Here goes the topBar -->

<script>
$(document).ready(function() {
  var userOn = 0;

  $('#enroll_connexion li').mouseover(function() {
    $(this).css('background-color', '#32363b');
  });

  $('#enroll_connexion li').mouseleave(function() {
      $(this).css('background-color', '#1e2226');
  });

  $('#enroll_connexion li.notif a').click(function() {
    if(userOn==0) {
      userOn=1;
      $('#user_menu').slideDown(300);
      $('#enroll_connexion li.notif a').css('background-color', '#32363b');
    }
    else {
      userOn=0;
      $('#user_menu').slideUp(300);
      $('#enroll_connexion li.notif a').css('background-color', '#1e2226');
    }
    
  });

})
</script>

<div class="navbar navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="content">
      <a class="brand" href="/"><img src="{{STATIC_URL}}images/logo.png" alt="WeTut" /></a>
      <div class="logo_circle"></div>
        <ul class="nav">
          <li><a href="/questions">Questions</a></li>
          <li><a href="/tutoriels">Tutoriels</a></li>
          <li><a href="/members">Membres</a></li>
          <li><a class="ask_question" href="/questions/ask">Poser une question</a></li>
		</ul>
		<div id="enroll_connexion">
      <ul>
        {% if user.is_authenticated %}     
        
        <li class="notif"><a href="#user_menu"><img src="{% if user.profile.getTagActualities or user.profile.getQuestionActualities %}/static/images/pictos/notifactif.png{% else %}/static/images/pictos/notif.png{% endif %}"/></a></li>


        <div id="user_menu">
            {% for tagactu in user.profile.getTagActualities %}
            <a href="/question/{{ tagactu.question.slug }}" role="button" data-toggle="modal">Nouvelle question dans le tag {{ tagactu.tag.name }}</a> 
            {% endfor %}
            {% for questionactu in user.profile.getQuestionActualities %}
            <a href="/question/{{ questionactu.question.slug }}" role="button" data-toggle="modal">Nouvelle réponse à la question {{ questionactu.question.title }}</a> 
            {% endfor %}
        </div>

        <li class="user"><a href="/members/{{ user.username }}">
            {% if user.profile.avatar.url != "" %}
              <img src="{{user.profile.avatar.url}}" style="width:40px;height:40px;display:inline;margin-right:10px;"/>
            {% else %}
              <img src="{{MEDIA_URL}}members/avatar.jpg" style="width:40px;height:40px;display:inline;margin-right:10px;"/>
              
            {% endif %}
        {{ user.username }}</a></li>
        
        <li class="deco"><a href="/logout" role="button" data-toggle="modal"><img src="/static/images/pictos/logout.png"/></a></li>

        {% else %}<li><a href="#loginModal" role="button" data-toggle="modal" data-target="#loginModal" class="first">Connexion</a></li>            
        <li><a href="#inscriptionModal" role="button" data-toggle="modal" data-target="#inscriptionModal">Inscription</a></li>
        {% endif %}
     </ul>

   	 </div>
    </div>
	
    </div>
    
        <div class="back_search_bar"></div>
		<div class="search_bar">
			<div id="glass">
				<img src="{{STATIC_URL}}images/loupe.png" alt="Recherche" />
			</div>
			<div id="line_search"></div>
			<form method="get" action="../search" style="position:absolute; z-index:100;">
				{% if query %}
				<input id="id_q" type="text" name="q" value="{{ query }}" />
				{% else %}
				<input id="id_q" type="text" name="q" />
				{% endif %}
			</form>
		</div>
  </div>

<!-- Modal -->
<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">

  <div class="modal-body">
  
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <p id="loginModalLabel">Je me connecte</p>
    
    {% if form.errors %}
    <p>Merci de remplir tous les champs</p>
    {% endif %}

    <form method="post" action="/login">
    {% csrf_token %}
    	<div class="input_connexion">
    		<div class="input_img"><img src="{{STATIC_URL}}images/pictos/user_connexion.png"/></div>
    		<input type="text" name="username_connexion" placeholder="Pseudo / Email*"/>
    	</div>
    	<div class="input_connexion">
    		<div class="input_img"><img src="{{STATIC_URL}}images/pictos/padlock_connexion.png"/></div>
    		<input type="password" name="password" placeholder="Mot de passe*" />
    	</div>
    	<input type="submit" value="" class="btn_connexion"></input>
	</form>
	<div class="clear"></div>
	<div class="line_end_connexion"></div>
	<a href="/facebook/login"><div class="facebook_connexion"></div></a>
  </div>
</div>

<!-- Modal Inscription -->
<div id="inscriptionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <p id="inscriptionModalLabel">Je m'inscris</p>
    <div id="signupC">
    </div>
  </div>
  
    <!--<form method="post" action="/accounts/register/">
    {% csrf_token %}
    Username : <input type="text" name="username" /> <br />
    Email : <input type="text" name="email" /> <br />
    Password : <input type="password" name="password" /> <br />
    Confirm password : <input type="password" name="confirm_password" />
  </div>
  <div class="modal-footer">
    <input type="submit" value="M'inscrire" class="btn btn-primary" />
    </form>-->
  
</div>


<script>
  $('#loginModal').modal('hide');
  $('#inscriptionModal').modal('hide');
  $('#signupC').load('/accounts/register');
</script>